<p><span>Переписка Сарры Семеновны Барац с дочерью Раисой (Рахилью) Барац</span></p>
<p><span>Сарра Семеновна с внучками &ndash; Майей (Мусенька, дочь Раисы) и Сильвией (Симочка, дочь другой дочери Сарры &ndash; Ревекки (Веки), репрессированной) &ndash; находилась в эвакуации в Свердловске, Раиса оставалась в Москве.</span></p>
<p><strong><span>21 мая 1938 года</span></strong></p>
<p><span>Любимая дорогая дочь Рашекиль!</span></p>
<p><span>Я сходила и должна ждать ответа до 25-го. Пока я не еду к Мотлу, я рассчитываю, что 25-го вечером я должна ехать к Мотлу. Напиши мне, могу ли я поехать на несколько дней, я очень хочу его увидеть. Мусенька рада, она как обычно с Симочкой, и ей очень радостно. Один раз в день, то есть в половину третьего у нее еще тем временем 37 [температура]. Больше мне нечего написать. Мусенька заглядывает в письмо. Напиши, что у тебя слышно? Остаюсь твоя верная и любящая тебя мать. Передавай привет кому нужно.</span></p>
<p><strong><span>29 марта 1942 года</span></strong></p>
<p><span>[отрывок по-русски: &hellip;[ обеды. В столовой кормят сносно. То-есть я повторяю мунькино выражение, и она тебе уже подробно объяснила, что это означает, так что мне уже ничего не остается прибавить. Прачешную не открыли, и кажется, не думают открывать. Вячеславины<a href="#_ftn1" name="_ftnref1">[1]</a> карточки в марте не прикрепили к нашему магазину, но у него теперь есть свой закрытый (тот же, что и у Ольги Дмитриевны, но не здесь, в 1-м студенческом, а в городе, на Первомайской, ей теперь дали в него пропуск, т.е. Станиславу Андреевичу). Милюченька, я пока прекращу писать, так как боюсь, что не успею выучить уроки, а потом опять продолжу.</span></p>
<p><span>Пока до свидания</span></p>
<p><span>Целую Сима</span></p>
<p><span>[приписка на идише, ближе к концу страницы строки идут плотно, наезжая друг на друга:]</span></p>
<p><span>Моя любимая дорогая дочь Рашке! Ты требуешь, чтобы я писала тебе, но я не могу, у меня дрожит рука, и я не вижу, я вернулась с того света, как &ndash; я сама не знаю, врачи велят мне питаться, но чем? Поскольку я так обессилела, что у меня ноги заплетаются [или: трясутся], так долго я не ела. Что Века умерла, ты уже знаешь<a href="#_ftn2" name="_ftnref2">[2]</a>. Я получила от Доры [правильную?] открытку. </span><span data-tag="праздники: Песах"><span> Теперь то, что ты спрашиваешь меня о моем Песахе, опишу немного: я дважды была в синагоге и не смогла пробиться в очереди испечь мацу, рав сказал мне, чтобы я на сковороде испекла несколько листов мацы сама. Мне можно есть рис, крупу, картошку; курица тоже у меня есть. </span> Я не могу много писать, потому что мне тяжело.</span></p>
<p><span>[подпись сбоку:] Твоя верная мама</span></p>
<p><strong><span>13 апреля 1942 года</span></strong></p>
<p><span>Дорогая мама! Я очень довольна, что ты сама мне написала. Только оставила себе очень мало места, вышло очень скученно. Видимо еще потому, что тебе очень тяжело писать. Почему ты не купишь себе еще курицу, ты сможешь есть и беречь внутренности.&nbsp; Я постараюсь отправить растительное масло. Немного, пока что я еще не получила. Что пишет Дора? Я не знаю, чем можно ей помочь. Если тебе будет не слишком трудно, напиши мне еще раз. Я рассчитываю переслать твои вещи тебе, я пришлю еще немного тарелок и вещей домой. Будь здорова. Все вещи ты получишь [нрзб] </span></p>
<p><span data-tag="семья: поколения"><span> Дорогая мама! Не ссорься с детьми, с крошками [в ориг.: птенчиками], у них бедных тоже тяжелая жизнь. </span></span></p>
<p><span>Целую тебя много раз,</span></p>
<p><span>Будь здорова и пиши мне письма.</span></p>
<p><span>Рушке.</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>14 мая 1942 года</span></strong></p>
<p><span>Любимая дорогая Рашке! Я совсем не понимаю тебя, что ты прицепилась к этим одеялам? Они у меня, или у [нрзб]? Разве что у меня в постели, что же еще, не иначе, я должна выменять их на картошку, я понимаю. Еще скажи, когда ты отправишь старые сапожки, или маленькие детские рубашечки, или носки или чулочки, я еще понимаю; я думаю, что тогда я еще переживу маленький голод. Доктор сказал мне, что у меня очень крепкий организм, что я пережила болезнь, которая у меня была, а дети не голодают, так что тебе не нужно волноваться. От наших у меня совсем ничего, они не пишут. И не нужно, мне уже настолько всё одно, я уже не жива, я никому не могу дать никакой помощи. Я не понимаю, что ты так работаешь. Ты же понимаешь, что после того, что получил Рикман<a href="#_ftn3" name="_ftnref3">[3]</a>, он получает хорошие пайки и дает тоже немного. Остаюсь до последнего моего дня, несмотря ни на что, любящая тебя твоя верная мать.</span></p>
<p><span>Ты спрашиваешь, получили ли они керосин? Нет, они совсем ничего не получили, ни в закрытом, ни в открытом.</span></p>
<p><strong><span>27 мая 1942 года</span></strong></p>
<p><span>Моя дорогая мама! Твое письмо от 7 мая я получила 25 мая. Оказывается, цензор очень долго читал твое письмо на идише. Но, несмотря на это, оно было благополучно доставлено, так что ты можешь сама писать письма. </span><span data-tag="семья: поколения"><span> Я не понимаю, почему тебе нужно ссориться с детьми. Ты могла бы жить с ними в мире и согласии, если бы захотела понять, что они еще юные и должны вести себя как в 15 лет, а не как в 70. Ты сама понимаешь и тоже видишь, что у них совсем не легкая жизнь. Ты пишешь, что у тебя плохая старость. Не знаю, мне так не кажется. Но я соглашусь с тобой, пусть ты будешь права, и у тебя тяжелая старость, но у твоих дочерей тяжелая жизнь еще до старости, и у моего ребенка и у ребенка Веки тяжелая юность, и нужно пожалеть их и не ссориться с ними. Им и так достается в их годы, и слава богу, если им удается еще посмеяться, сходить в кино, пойти погулять. Неизвестно еще, что их ждет, но мне кажется, ничего особенно хорошего их не ждет. Мне кажется, моя дорогая мама, что если ты будешь к ним добрее, то и они будут вести себя лучше; я знаю, что Мусенька всегда очень тебя любила, она не может выносить, если ты говоришь обо мне плохо, мне думается, что тебе нечего сказать обо мне плохого, но пусть так, если хочешь, говори. </span></span></p>
<p><span>Я очень рада, что никакого рака не обнаружено [<em>букв.: рак оказался пустяками</em>]. Я сама думала, что это не рак, потому что опухоль у тебя уже давно, а рак не может развиваться долго. </span></p>
<p><span>Еще я рада, что ты начала всё есть. &laquo;Совет один &ndash; только есть&raquo;. Слава богу, есть что поесть. С божьей помощью, не придется беспокоиться. Я через две недели отправлю тебе еще немного сухарей. Сливочное масло у тебя сейчас есть и растительное тоже, если бутылка масла пришла благополучно. Я не знаю, получили ли вы грибы. Дети мне об этом ничего не написали.</span></p>
<p><span>Когда дети уедут, пиши мне сама письма. Я тебе через несколько дней отправлю несколько конвертов и сама напишу мой адрес на них и открытки пришлю тоже.</span></p>
<p><span>Я написала письмо Доре в Сталинград, ответа у меня пока нет. Нашей Доре. Доре Мотла я не писала, и мне нечего ей написать. Она сейчас живет лучше меня, а я ни у кого не прошу помощи, и еще должна тому помогать. За Малу у меня очень болит сердце, только чем я могу помочь? Дора здоровее меня и тоже может работать наравне со мной. Я всю жизнь работаю как три лошади, она может поработать один год, невелика беда. </span></p>
<p><span>Я рассчитываю до осени забрать вас в <strong>Москву</strong>. Сейчас я обзавелась огородом. Наверное, у меня будет немного картошки с луком, моркови и свеклы на зиму, если будет хороший урожай и не украдут всё, а что-то оставят мне. Нам хватит на зиму овощей, и нам не придется голодать. Напиши, как ты собираешься получать горячее, если дети уедут? От горячего не нужно отказываться, потому что потом его не будут давать. Ты можешь попросить Оксанину маму, чтобы, когда она пойдет забирать себе, она тебе тоже приносила твое горячее. Я ей тоже напишу.</span></p>
<p><span>Пиши мне часто. Целую тебя много раз. Будь здорова и весела, и живите дружно между собой. Ешь и пей. Рушка.</span></p>
<p><span>Оксанина мама написала Оксане, что ты получила от дочери письмо, я думаю, что она имела в виду под дочерью не меня, а Веку. Напиши мне, получила ли ты письмо от Веки?</span></p>
<p><strong><span>3 июня 1942 года</span></strong></p>
<p><span>Моя любимая дорогая доченька Рашекиль!</span></p>
<p><span>От Веки у меня ничего нет, как она &ndash; я не знаю<a href="#_ftn4" name="_ftnref4">[4]</a>. Симочка написала Нюточке и Лиде Петровне. Но от них пока ничего не получили. От Мотла я получила письмо, что он очень болен. Ему дали отпуск на 6 месяцев, и он просит меня приехать к нему. Но только ты же понимаешь, как я могу поехать. Мои беды и мое состояние ты сама можешь понять. Письмо я посылаю вместе с Оксаниной матерью. Твое письмо с печеньем я получила. Печенье целое, потому что оно лежало в жестянке. И кокосовый жир я тоже получила. Очень благодарю тебя, только прошу тебя больше мне не посылать. Я всё равно не могу есть, как я могу есть? Когда я знаю, что ты не ешь. Когда дети здесь, это одно, а когда их нет, это другое. Ешь лучше сама. Не могу сказать, буду ли обменивать [<em>вещи на еду</em>], потому что не могу поехать. А повидло действительно очень сладкое. Я отдала Надежде Викторовне в твоей [нрзб; какой-то ёмкости]<em> </em>половину и сама попробовала, а остальное сохраню, когда дети приедут. Кокосовый жир сохраню до тех пор, пока они приедут. Ты же понимаешь, что они там не будут переедать. Банки я бы тебе отправила, но мне не с кем. У Оксаниной мамы лежит посылка уже больше двух недель и жестяночки. Отправляю тебе два [<em>бруска?</em>] какао и баночку с кофе, я его обжарила и смолола, но не с кем [<em>послать</em>]. У меня стоит [<em>нрзб; накопившееся?</em>] белье, и у меня нет воды, потому что воду не дают, не знаю почему. Я стираю [нрзб] вещи, и раз Симочкины я уже выстирала, а Мусенькино стоит [нрзб]. Я сыта, я получаю детям хлеб тоже, так что я могу выменивать на молоко, на яйца и даже картошку, так что если мне что-то понадобится, я тебя еще раз попрошу. Так что ешь и пей сама, береги здоровье. Только я думаю, что ты голодаешь, от этого я сильно огорчаюсь. Я получаю два обеда. Вторую кастрюлю я варю себе сама. Немного продуктов, которые у меня есть, я сберегаю, я же еще не знаю, что может быть. Я получила письмо от Доры. Как же я могу ей помочь, что она получила такую хорошую невестку. Я ей написала, что она должна приехать к нам. Как оказывается, она не получила письмо, потому что почта так хорошо функционирует. Не надо отправлять мне деньги, мне не нужно. Я могу отправить тебе. Детям нужны галоши. Может быть, ты получишь только 36-й, потому что все они маленькие. Я отправлю тебе письмо Доры. Может быть, ты сможешь отправить мне мои серые туфли, если они [нрзб: живы? целы?] сапожки. Остаюсь твоя верная и любящая тебя мать. Сердечный привет Оксане Давыдовне. Если бы не ее мама, я бы совсем пропала. </span><span data-tag="праздники: Песах"><span> Есть ли у тебя уже замок на двери, и можешь ли ты уже брать пасхальную [<em>нрзб; посуду?</em>]. </span></span></p>
<p><span>Я вкладываю [<em>письмо</em>] к Надежде Викторовне, потому что у меня нет конверта.</span></p>
<p><span>Моя любимая дорогая дочь Рашекиль! Хотя ты мне не пишешь: только я должна ответить тебе на некоторые места. Дети с 29 июня уехали в колхоз. Учительница сказала, что она спросила по телефону. Ей сказали, что там не идет дождь. У нас можно утонуть, и очень холодно. Дочь кулака [в ориг.:<em> колак</em>] дала мне пол-ящика. Я посадила огурцы. И лук, и чеснок. И та, что напротив, дала мне ящичек. Я посадила картошку, она растет очень хорошо. Что из нее получится, я не знаю: наша [соседка?] очень жадная, хотя она забрала 150 метров сада, она еще и на балконе [<em>место]</em> заняла. Ну ладно, не стоит об этом говорить. Что я буду говорить о ней. </span><span data-tag="представления <span>о евреях</span>"><span> Поскольку Гистарова&nbsp; еврейка, и Надежда Викторн [</span><em>sic</em><span>] договорилась ехать с ней и менять, ей нужна картошка, а я взяла [<em>нрзб</em>] мою коричневую юбку и несколько блузок, пару рубашек. И она сказала, что в 5 часов утра они будут на трамвайной остановке. А дети уже шумели, что они не поедут, потому что, видимо, они опоздают ехать в колхоз. Они очень хотели ехать, потому что все их девочки поехали. Только Надежда Викторовна встала в 4 &frac12; утра. И стояла на остановке до 7 часов, и она пришла и сказала мне, что та не пришла. Потом мне Оксанина мама рассказывала, что она [<em>Гистарова</em>] все-таки поехала, но она не хотела, чтобы та [<em>Надежда Викторовна</em>] ехала. Оксанина мама пообещала мне, что она мне тоже поменяет на картошку, ей уже удивительно, что еврейка может быть такой подлой женщиной. Что она, когда мы голодны, она недостойна называться человеком, она хуже скотины, только бы пожрать. </span> Насчет твоей посылки тебе не нужно беспокоиться. Они приходят в целости, а теперь, когда дети уехали, тебе не нужно ничего отправлять. Кофе я сохраню для них. Я тот еще не съела. Только на Мусенькины именины она дала мне кусочек. 4 кусочка кофе я для них сберегу, когда они приедут. Только печенье я буду есть сама, потому что оно размолото в муку. Теперь, доченька, когда дети уехали, я подошла к Симочкиной кровати, потому что вижу, что застилать ее никто не застилает, она только заползает в постель и выползает из нее. И если я подойду, когда она дома, я бы получила то же, что получила, когда сказала ей, что она должна пришить себе пуговицу на лифчик. Только я подошла и увидела, мама моя, я себе представить не могла, что большая девочка может ложиться в такую постель, полную клопов, и простыню с кровью, рубашка в крови, подушка черная как земля, и у Мусеньки также, Мусенька, почему же такая [нрзб.: сырая?] наволочка, она не знает, только когда я начала убирать [нрзб[ и перестилать постель, я увидела внизу [нрзб.: сырую?] наволочку, и ложится с мокрой головой спать, на наволочке проступает <em>[сырость?]</em>, и теперь мне это всё нужно стирать, только мне тяжело за один раз выстирать столько больших вещей, стираю потихоньку, сейчас я стираю с Симочкиной кровати, сегодня четверг, а в воскресенье я буду стирать с Мусенькиной кровати. Доченька, ты не должна мне посылать. Ешь лучше сама. Когда дети напишут мне, я тебе перешлю. Я думаю, мне не стоит ждать от тебя писем, и у меня ни от кого нет писем. Я думаю, тебе не стоит быть благодарной за гнилую (?) картошку, уродилась ли у вас новая картошка? (?). От Векочки получаю все письма обратно &laquo;выбыла&raquo;.</span></p>
<p><span>[приписка сбоку:] Будь здорова. Твоя верная и любящая тебя мать.</span></p>
<p><strong><span>3 мая 1942</span></strong></p>
<p><span>Моя любимая дорогая дочь Рашке!</span></p>
<p><span>Твое письмо я прочитала и спасибо тебе много раз за него: на то, что ты описываешь мою хорошую жизнь и мой хороший возраст, я должна тебе ответить: во-первых: ваше несчастье &ndash; также и мое несчастье, я уже не говорю о том, но только я очень хорошо понимаю твое состояние, что тебе нужно поддержать себя успокоительными каплями, у меня сильно болит сердце, но я не могу помочь даже слезами, мои источники высохли, я хочу плакать, у меня сердце разрывается на куски, но слезы не идут, это очень тяжело. </span><span data-tag="антисемитизм"><span> Далее, то, что мне приходится в возрасте жить с гойкой, которая не может видеть евреев, такая Вера Чеберячка, это ладно. { отношения с неевреями } А дальше, что ты пишешь, что я не должна ссориться с детьми. Я с ними не ссорюсь. Когда они пошли на бал, они вернулись в 3 ночи. Я еще тогда лежала и не могла даже поднять голову. Я должна подняться с постели и должна открыть чужим людям, даже не из моего народа, которым я как шпилька в глазах {отношения с неевреями},</span> а мороз был сильный, я не говорю уже о том, что я не могла спать, а доктор говорил, что единственное мое лекарство &ndash; это есть и спать, и </span><span data-tag="семья: поколения"><span> когда я сказала: почему вы пришли поздно, Мусенька мне сказала: чтобы я скорее умерла, &laquo;чтобы отстала от них&raquo; [русские слова еврейскими буквами]. Конечно, ушам больно, что они дожили услышать такое, но только ничего, у меня всё хорошо. Но пусть будет так. Всё тоже хорошо. Да, моя сладкая дорогая дочь, я себе никогда не представляла, и то, что я говорю, меня не слушают.&nbsp; Когда я сказала Мусеньке, что не нужно стирать за один раз сразу 8 штук пододеяльников с простынями, она меня не послушала и принялась стирать и доставала меня, чтобы я топила плиту, и я зажгла плиту, и нагревала воду, и кипятила, она пришла ко мне на кухню и сказала, что у нее сердце прихватило. Понятно, что я ей уже не разрешила стирать, и я стирала и кипятила, и полоскала, и подсинивала, и сушила. Полоскать мне немного помогла Надежда Викторовна. Ну, теперь, что ты пишешь, у них тяжелая жизнь, нет, дочка, я с тобой не согласна, у них очень легкая жизнь, деньги, когда они захотят и что они захотят, дальше, хотят они в лес &ndash; в лес, на озеро купаться &ndash; на озеро. Кто может им указывать, они уже пожили и повидали, и я уже повидала, что и большие пловцы тоже тонут. </span>&nbsp; Насчет моей еды не о чем говорить, в столовой они берут 3 обеда, но я не ем, им самим мало, они сами весь день голодные, буду я еще у них каплю отнимать, этого же не должно быть. Пока мои глаза открыты, я ведь остаюсь как все животные. Что касается моей еды с рынка: здесь картошка или гнилая редька идет за хлеб, а хлеба у нас нет, потому что детям кроме хлеба нечего есть. У нас не остается, чтобы выменивать. От Дворы [Дворцен?] я тоже ответа не получила. От Соры я получила письмо от 31 мая. Она разбила огород и перечислила мне, что она посадила. От Исаака и Марочки у меня ничего нет. От Мотла и Доры тоже ничего. От Сюзика у меня тоже ничего. Были бы они здоровы. У меня для них ничего нет. Я думаю, я всё равно что не в живых. Жена Горелика звонила, что есть письмо от тебя, но детей [сейчас] нет. На часах 4, а они еще не вернулись с озера. Думаю, я тебе всё уже описала. Я тебе тоже недавно написала письмо по-русски, мой секретарь Симочка. Не знаю, получишь ли ты его. Дети не едут в колхоз. Поедут ли они, я не знаю.</span></p>
<p><span>Пишу тебе еще раз, что тебе не нужно мне ничего посылать, я думаю, они вообще не поедут. </span><span data-tag="семья: поколения"><span> Большое спасибо тебе за то, что ты так добра ко мне, и за это пусть Б-г защитит тебя, чтобы ты ни в чем не нуждалась у Мусеньки и особенно у Мусенькиных детей. </span>&nbsp; От Веки было письмо, она думает, что я уже умерла. Мне нужно написать ей хоть пару слов. Я ей написала. Остаюсь твоя верная любящая тебя мать и целую тебя много раз. Дети только что вернулись с купания.</span></p>
<p><strong><span>3 июня 1942 года</span></strong></p>
<p><span>Любимая Рашке я только получила обратно от Веки открытку, которую Мусенька ей писала 21 мая, что адресат больше не находится там, адресат выбыл [по-русски еврейскими буквами]. Можешь понять мое состояние. Не знаю, что делать. Посоветуй, кого мне спросить.</span></p>
<p><strong><span>27 июня 1942 года</span></strong></p>
<p><span>Дорогая мама! Отправляю тебе немного печенья и 100 граммов пирога с повидлом. Дети написали мне, что они едут в колхоз 22 июня. Через два дня поедет человек, и я передам с ним более полкило повидла, очень сладкого. В багаже с Романовичем я отправлю тебе немного детских вещей, которые ты можешь обменять на калоши или другие хорошие вещи. Еще отправляю тебе банку кофе, поскольку тебе нельзя пить кофе, может быть, ты будешь пить суррогат кофе. Все коробочки с банками, которые я отправляю вам, вы должны отправлять мне обратно, потому что они мне здесь очень пригождаются.</span></p>
<p><span>Как живешь ты, как дети? Что вы едите? Что пишут дети? Получала ли ты что-то уже от Веки? Я думаю, что ты уже скоро получишь от нее письмо.</span></p>
<p><span>Вчера мы с Иосифом Борисовичем были на огороде. Уже начинает [<em>расти</em>[. Показалась картошка, свекла тоже растет. У нас только три дня как потеплело, до этого был сильный холод с дождем. Может быть, мы соберем с огорода немного картошки, капусты и свеклы.</span></p>
<p><span>Пока еще не разрешают перевозить семьи в Москву. Как только можно будет переезжать, я вас сразу же заберу в Москву. Если вам придется перезимовать и мне, я приготовлю вам все вещи на зиму.</span></p>
<p><span>Деньги, которые мне прислала Мусенька, я оставлю пока у себя. Я имею в виду, что пока дети не вернутся из колхоза, тебе хватит моего жалованья, мне нужно, чтобы у меня были деньги всё время, потому что, может быть, будут что-то выдавать, нужно взять. Повидло нам выдали на службе. Работы тем временем у меня пока нет, с той работой у меня ничего не вышло [<em>букв. вышли пустяки</em>]. &laquo;Та работа&raquo; - это та, о которой я писала раньше, что должна получать за нее шестьсот рублей. Может быть, я получу другую работу, только когда это будет, я еще не знаю.</span></p>
<p><span>Напиши мне, как ты себя чувствуешь. Что ты ешь?</span></p>
<p><span>Вы должны были получить от меня две посылки. В одной были конфеты и концентраты какао и кофе, во второй было печенье, сахар, четыре пачки концентрата кофе, маленькая баночка американского жира, немного ниток (два мотка) на обмен и детские ленты. Напиши мне, что ты делаешь с жиром и получила ли ты все вещи.</span></p>
<p><span>Будь здорова. Целую тебя много раз. Рушка</span></p>
<p><strong><span>27 июня 1942 года</span></strong></p>
<p><span>Привет всем знакомым.</span></p>
<p><span>Мама, в одной из посылок была посылка для Оржеховской, она часто приходит к вам, и для Масловой, Масловой может передать посылку Оржеховская, они живут в одном районе.</span></p>
<p><span>Рушка.</span></p>
<p><strong><span>26 июля 1942 года</span></strong></p>
<p><span>Шнурки для ботинок отдашь Вячеславу и письма тоже.</span></p>
<p><span>&nbsp;</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>13 июля 1942</span></strong></p>
<p><span>&nbsp;</span></p>
<p><span>Любимая дорогая дочь! </span><span data-tag="семья: поколения"><span> Твое длиннейшее письмо вместе с моим я получила, на твое письмо мне нечего ответить, то есть мне много что есть написать, только я считаю это излишним, я <strong>кричу</strong> в пустоту [в ориг. в пустую бочку]. Дети 10-го уехали в колхоз. Мусенька взяла у меня 120 рублей, и 500 взяла у меня Симочка, хотя я была против, и 300 у меня ушли, но ничего, молчание &ndash; лучшая вещь. Что у Сюзика мне было бы лучше, ты сама знаешь. Мне также нужно написать тебе, что я тоже могла бы есть картошку со ста граммами хлеба, и мне бы не нужно было таскать воду из шахт, а когда Мусенька дома и идет за водой, она идет босая, и стоит в воде, а вода режет ноги от холода, нечего и говорить, и я хожу с ней, и беру у нее ведро, я с ним упала и разбила себе колено, но только ничего, я молчу, потому что думаю, что всё это, вероятно, я честно заслужила.</span></p>
<p><span>Я с ними не ссорюсь, но только что за ругань я от них выслушиваю. Я в жизни своей такого не слыхала. Ты же понимаешь, что у Сюзика я бы такого не слышала. У Сюзика уже есть дрова и уголь, и у него я бы тоже получила полстакана кишмиша и могла бы так же пить с ним чай, как и здесь, и была бы спокойна, и не испытывала бы столько переживаний, как здесь. Ты пишешь мне, что я должна ехать, ты ведешь себя со мной так, как с тем, кого держат на цепи и говорят ему, что ты сто<em>и</em>шь &ndash; иди. Как же я могу, когда я прикована? Только ничего, могила примет все мои несчастья, я уже недалека от неё. Будь здорова и очень счастлива. Твоя верная мать. 13 июля 1942</span></p>
<p><span>Я беру себе хлеб отдельно, потому что они сказали, что я съедаю их хлеб, и я стала себе брать отдельно. И я вымениваю это на картошку, потому что они тоже едят, что же, я буду сама есть, а им не давать, что ты думаешь? Только смотри, чтобы тебе не поступить так, как Дора: когда [<em>мама?</em>] умерла, она плачет по ней и пишет мне, что она оставила маму в Харькове в могиле, теперь ей горько без мамы. </span> Из твоих вещей, которые ты послала, я совсем ничего не обменяла. Я же не могу ехать, а у нас не меняют, на хлеб я могу поменять только кочан капусты или бруснику и так далее. Ты должна знать, что Мусенька ходит окончательно босая, у нее нет обуви. Она писала тебе, что только у Симочки нет обуви, потому что, ты же знаешь, она скорее позаботится о ком-то [другом]. Пишу тебе, что они обе ходят босые. Большое спасибо тебе за соду, просто спасения нету от изжоги, потому что я аж начинаю гореть. Ты пишешь, чтобы я не стирала белье. Что же тогда, Мусенька должна стирать мое белье? Или я завшивею. Мне сегодня нужно стирать белье, а воды нет. Сегодня я сорвала огурец в своем огороде.</span></p>
<p><strong><span>14 июля 1942 г.</span></strong></p>
<p><span>Любимая дорогая доченька, твое письмо я получила. Хотя мне нечего тебе написать, но я пишу. Может быть, ты не получила письмо. Пишу тебе, что дети еще 10 июля уехали в колхоз, так что я думаю, что то, что ты хочешь послать вещи, не нужно. Мне одной не нужно, мне достаточно того, что я вымениваю хлеб, а дети вернутся в конце сентября, если они не заболеют, так они мне сказали. А то, что твое большое огорчение, что я не делюсь с твоей новой знакомой: с моими бедами потому что хуже, чем заболеть лихорадкой, я не получаю ничего в магазинах и в столовой ничего не получаю. Тогда как наши хозяева получают так много и мяса, и колбасы, и еще других вещей, что они даже не могут [<em>съесть? справиться?</em>] , излишек она едет и выменивает на всё хорошее. Пойми же, как много твои [нрзб.: знакомые?] могут уже получить, когда у них уже столько [нрзб], что и говорить нечего. И о Мусеньке тебе тоже не нужно мне писать, потому что я не отступлюсь от того, что это чесотка, от чего докторша дала ей мазь, когда учительница пришла за ними, чтобы они ехали, я показала ей мазь и Мусенькины руки, она сказала, что это мазь от чесотки и что у нее на руках тоже чесотка.</span></p>
<p><span>Остаюсь любящая тебя твоя мать.</span></p>
<p><span>Мои огурцы не растут, потому что у нас очень холодно, так что, может быть, добрый человек Шумский привез бы парочку. Если тебе не будет писем, знай, что детей нет, а моя писанина тебе совсем не интересна. От Веки у меня нет писем. И от детей у меня нет писем, и от Доры тоже нет.</span></p>
<p><span>[приписка сбоку:] Я хотела отправить с Шумским 2 бутылки, а также пару банок [?], но он не захотел брать, это всё [что есть].</span></p>
<p><strong><span>17 июля 1942</span></strong></p>
<p><span>Дорогая мама! Посылаю тебе немного печенья и два концентрата каши. Печенье ешь сама, кашу оставь до приезда детей, тебе она всё равно не понравится. Они уже привыкли есть всякую гадость, съедят и кашу. Печенье лежит у меня уже неделю, оно уже засохло. </span></p>
<p><span>Напиши мне, есть ли у тебя вести от Веки; был ли уже у тебя Сюзик и забрал ли он табак или еще нет? Что пишет Шура про Вову?</span></p>
<p><span>Наши огороды растут потихоньку, много картошки сгнило в земле, потому что шли сильные дожди всё время; только чуть больше половины вышла из земли целой. Капуста тоже растет очень хорошо; свекла тоже; хоть немного насладимся там от трудов.</span></p>
<p><span>От детей писем больше не было, и не знаю, как они там живут. Думаю, что завтра или послезавтра получу от них письмо.</span></p>
<p><span>Мама, я думаю, что у тебя остается хлеб после обмена [на вещи], ты можешь наделать сухарей, потому что мне кажется, что нынешняя зима будет тяжелее прошлогодней. Может быть, ты сможешь выменять старые тряпки на сливочное масло, нужно также сделать запас, перетопить. Ну, ты сама понимаешь, о чем речь.</span></p>
<p><span>Мне уже пора заканчивать письмо, потому что человек уже уезжает. Будь здорова, ешь и пей, собирайся с силами на зиму.</span></p>
<p><span>Сердечный привет Оксаниной маме. От Оксаны тоже тебе привет. Привет всем знакомым.&nbsp; Целую тебя много раз.</span></p>
<p><span>Рушка.</span></p>
<p><strong><span>28 июля 1942</span></strong></p>
<p><span>Моя любимая дорогая дочь Рашек! Благодарю тебя за то, что ты мне послала туфли с сапожками, но только тебе нужно было еще отдать их в починку, потому что здесь не чинят, хотя они не были порваны, только в них ходили все, кто хотел. Галоши, вероятно, были Мусенькины, но всё равно хорошо. Мусенька принесла много вшей и чесотку, только она не слушает меня, я хочу её вылечить, а она меня не слушает, она всё спрашивает только у Надежды Викторовны, та понимает во всем как моя кошка [<em>т.е. ничего не понимает, не разбирается</em>], но только пусть будет так, не знает, что её не пустят в школу, и все будут сторониться, это она еще увидит, я думаю, лучше я помолчу, молчание &ndash; лучше всего. Они только вчера приехали, а сегодня уже побежали в кино. Прошу тебя, доченька, может быть, ты сможешь получить для меня соду: потому что у меня очень сильная изжога. </span><span data-tag="репрессии"><span> От Векочки у меня ничего нет, бог знает, жива ли она, только что я могу поделать, она хотела Сёму<a href="#_ftn5" name="_ftnref5">[5]</a>, она его получила, только материнское сердце достаточно страдает от этого. Только пропало, я потеряла свою дочь. </span> Насчет моего огорода тебе уже писала Оксанина мама и насчет всего. Я обменяла свои тряпки, об этом тебе тоже писали, но если нет, вещи детей, твои тряпки и Мотла. Когда Сюзик здесь был, он попросил меня поехать к нему и побыть у него, пока всё это не закончится, но только ведь я не могу уехать. Остаюсь твоя верная и любящая тебя мать. Целую тебя много раз.</span></p>
<p><strong><span>8 августа 1942</span></strong></p>
<p><span>Моя дорогая мама! Твое письмо я получила. Ты пишешь, что Сюзик зовет тебя побыть у него, но ты не можешь оставить детей и вещи. Дети могут быть одни, они не маленькие, сами всё делают, никто им, слава богу, не помогает, так что это тоже отпадает. Насчет вещей тебе тоже не надо беспокоиться, нужно повесить замок на дверь на время, пока дети будут в школе или в магазине, и не нужно будет сторожить вещи, когда ты уедешь. Ты должна хорошо подумать о том, как ты себя чувствуешь, сможешь ли ты быть в Свердловске зимой (если не будут пускать в Москву, пока не говорят). И если ты будешь уверена, что у Сюзика тебе будет легче и лучше, тебе нужно ехать к нему и не думать о вещах, им ничто не повредит. Главное сберечь здоровье. Люди теряют сейчас больше, чем вещи, и отдадут последнюю рубашку, только бы им оставили жизнь. Так что подумай хорошо и напиши мне.</span></p>
<p><span data-tag="семья: поколения"><span> Хоть ты и сердишься на Мусеньку, что она лечится не у тебя, а у врача, ты неправа. В твои времена считалось, что если на руках маленькие прыщики, то это парша. Нынешние времена другие, жизнь другая, и болезни другие. В твои времена считалось, что ах мы бедные-несчастные, ели хлеб со смальцем и чесноком, а теперь миллионы людей (и мои двое детей в том числе, да и сама тоже) рады бы наесться досыта капусты, без смальца с чесноком уж можно и обойтись. {поколения} Я не понимаю только, как мой Бонча-молчальник работал такими руками целый месяц и к тому же делал не простую работу, а полол, рвал траву. Только она, бедная, знает с малых лет, что если ей выпало, что её поставили за работу, то она работает.</span></p>
<p><span>Очень прошу тебя, дорогая мама, не ссорься с ними, позволяй им сходить в кино, слава богу, что в кино они находят удовольствие. У них уже с десяти лет прекратилась хорошая жизнь, что будет дальше, тоже неизвестно, так что не нужно тебе делать еще хуже. У них и так достаточно тягот. </span></span></p>
<p><span>Соду мне разрешили получить. 15 рублей пачка, как только мне принесут, я тебе перешлю.</span></p>
<p><span>Напиши мне, что ты думаешь насчет моего плана продать все вещи и купить продуктов на потом? У меня есть еще 10 мотков ниток? Отправлять их или нет?</span></p>
<p><span>Я думаю, что от Веки будет письмо в августе или сентябре, оказывается, что весь лагерь перевели в другое место, Нюта тоже не пишет.</span></p>
<p><span>Можно ли Гурвичу, который принес посылку, заказать купить лука или нет. Подумай там и скажи ему.</span></p>
<p><span>Я напишу ему, чтобы он зашел к вам.</span></p>
<p><span>Будь здорова. Целую тебя много раз. Рушка.</span></p>
<p><span>Пиши чаще.</span></p>
<p><strong><span>8 августа 1942</span></strong></p>
<p><span data-tag="семья"><span> Дорогая любимая дочка! Что я могу сделать, другой дочери у меня нет. Я сама виновата, я не смогла дать воспитание. Я не понимаю, что ты пишешь, что я плохая: я сама съедаю сто граммов хлеба в день с тремя картофелинами, которые Маруся подарила детям, когда они ездили к ней. В обед, ты ведь понимаешь, я не могу есть, потому что дети сами голодные, поэтому они едут в колхоз, потому что они думают, что их там будут кормить. Им там дадут так, как здесь в столовой. То, что они [<em>работники столовой?]</em> получают в столовой, их семье нужнее, чем мне с Мусенькой с Симочкой, тебе это уже могла рассказать Оржеховская, сколько продуктов остается у тех, что из столовой, им только нужно смотреть, чтобы вырезать карточки, а дальше совсем нет. И то, что ты пишешь, я должна быть [нрзб], я тоже не знаю. Она вырастила 3 зятьев, и все работают, и один такой важный, и у них есть всё наилучшее, а я должна отдавать им последнее, [притом] что детям самим нечего есть, сахара у нас нет, только может быть, Леля послала полтора стакана кишмиша, чтобы дети его ели, только я должна его отдать Ивановне, потому что они стали худыми и нервными, или я отправила с Сюзиком свои вещи обменять на то, что она мне послала, я должна это отдавать, чтобы они жрали и пьянствовали, ты же не будешь писать, что они должны пить витамины или Сарра Одис [<em>?</em>], только Ивановна должна пить<strong>, </strong>ради бога, только своих нужно держать в голове, а не кого-то другого. Только совсем не нравится мне твое письмо, потому что своими вещами я должна делиться непонятно зачем и с кем. Не хочу говорить о том, что я сама больна и валюсь с ног и худая от голода, только что я вообще значу, я же &laquo;капоре (х)индель&raquo; [<em>курица на обряд капарот=девочка для битья</em>] всегда, особенно теперь, теперь когда Мусенька здесь, она носит воду из шахт, которые напротив нас, а когда Мусеньки нет, я ношу воду, из шахт, когда Сюзик был и увидел мою ситуацию, он отправил мне [нрзб], он попросил меня ехать с ним к нему, у него мне не придется так страдать, только я дала ему понять, как я могу оставить барахло, которое ты мне сбросила, зачем и на что не знаю, и твои тряпки. Теперь ты можешь понять мое и наше положение. Когда мы одни, и никто не заботится о нас. Я старая и двое детей. </span> С Надеждой Викторовной ты меня тоже не можешь сравнивать. У нее муж получает 150 рублей пенсии, и 350 он получает, хоть он и сидит дома, и ему также передает [<em>зять?</em>] сахар, хлеба 8 сотен граммов, сливочное масло и так далее, и Оксанина мама получает от своей дочери двести пятьдесят рублей каждый месяц, так что я с ней тоже не могу сравниться. Я тебе и десятой части не описала, а ты хочешь, чтобы я из ничего еще давала тем, у кого в сотни раз больше и кто съедает за день, сколько мне хватит на две недели. Будь здорова и живи счастливо. Твоя верная мать. От Векочки у меня совсем ничего. Не знаю, жива ли она.</span></p>
<p><span>[далее приписка детским почерком по-русски:] Ты его и прислала нам. Мама, мы тебе писали, что получили в наркомате пряники и шоколад. Шоколад мы пока не трогаем, а пряники едим и пьем с чаем. Они ведь быстро черствеют и не могут лежать. Целую тебя крепко и тысячу раз. Твоя Муничка.</span></p>
<p><strong><span>17 августа 1942</span></strong></p>
<p><span>Моя дорогая мама! Я получила твое письмо, только не могу ответить, потому что не о чем говорить. В 72 года человек не меняется, и было глупо с моей стороны, что я написала. Слава богу, что дети не тронули твои пару изюминок. Насчет сливочного масла, о котором ты пишешь, что выменяла его за свои вещи, а я требую, чтобы ты отдала его &laquo;Ивановне&raquo;, не знаю, откуда ты это взяла. Ты его не только не должна кому-то отдавать, но и детям давать не должна. Слава богу, я отправлю и им и тебе продукты, и им не нужно есть твое масло, ешь на здоровье сама, и пусть тебе будет хорошо.</span></p>
<p><span>Очень прошу тебя переслать мне несколько бутылок, потому что мне нужно на днях получить патоку, я [<em>иначе</em>] не смогу их переслать.</span></p>
<p><span>Ты можешь с Гурвичем переслать мне немного грязного белья, я отдам его постирать у себя в прачечную и отправлю вам чистое. Отправь мне рваные чулки, я их починю.</span></p>
<p><span>Договорись с Гурвичем, что можно получить по пути, и скажи ему, что я прошу его это сделать, пусть он мне привезет в Москву, а я перешлю вам.</span></p>
<p><span>Посылаю письмо Вячеславу, пусть оно лежит у тебя, пока он не придет.</span></p>
<p><span>Что пишут дети? Я ничего от них не получала из колхоза.</span></p>
<p><span>Будь здорова. Целую тебя много раз. </span></p>
<p><span>Рушка.</span></p>
<p><span>Получила ли ты соду с сухарями? И две книжечки? Одну книжку &laquo;Высшая математика&raquo; [<em>название по-русски</em>] отдашь Вячеславу.</span></p>
<p><span>Привет соседям.</span></p>
<p><span>17.08.42</span></p>
<p><span>[приписка по-русски]</span></p>
<p><span>Оксана не пишет Н.В., так как не успела. Передает привет.</span></p>
<p><strong><span>24 августа 1942</span></strong></p>
<p><span>Любимая дорогая дочь Рашекиль!</span></p>
<p><span>Так как мне нечего тебе написать, соду с сухарями и сушками я получила. Сухари с сушками я как обычно отложила для детей. А за соду очень тебя благодарю, потому что она мне нужна для здоровья, оно мне не так дорого, здоровье, только от изжоги я начинаю гореть, я очень страдаю от этого. Я хочу тебя кое-о-чем попросить, если возможно, и если мои желтые сапожки остались, пришли их мне, потому что я осталась совсем босая, черные сапожки порвались, и некому отдать их починить, а на барахолке пара старых туфель стоит тысячу рублей, а валенки все 3 пары тоже порвались, так что я даже и надеяться не могу, что мне будет во что обуться. И я прошу тебя еще раз, чтобы ты не посылала ничего из продуктов, ешь сама, мне кусок в горло не лезет, потому что я знаю, что ты не ешь, я представляю себе, как ты уже исхудала от своей работы и недоедания. Но что я могу сделать, если ты берешь у себя последнее и отправляешь сюда. Письмо от детей я тебе переслала. От Вовочки я получила письмо, он пишет мне, что тебе он тоже написал. Больше у меня ничего ни от кого не было. Будь здорова, мое дорогое дитя.</span></p>
<p><span>[приписка сбоку:] прошу тебя ничего не посылать обратно, ты причиняешь мне этим большую боль. Может быть, ты сможешь купить обувь детям. Купи №36</span></p>
<p><strong><span>26 августа 1942 года</span></strong></p>
<p><span>Дорогая мама! Посылаю тебе с Гореликом сухари, немного соды, которую я выменяла, шоколад, три репки из моего огорода, банку сгущенного какао, упаковку каши талкан, бутылочку патоки, пачку табака для Сюзика. В чемодане лежат ботинки Вячеслава, а в ботинках лежит пузырек одеколона и пачка синьки, после того как к тебе придут, в другом ботинке лежит бутылочка сабоцилловой воды, это от вшей в голове, когда дети вернутся из колхоза, они должны намазать себе этим голову, если они принесут вшей, они сразу же от них излечатся.</span></p>
<p><span>Мама! Сухари с шоколадом поделите между собой на троих, и часть детей пусть останется им, когда они приедут, пусть они ею с тобой еще раз поделятся. Я дала Горелику нитки и пачку чая, может быть, он сможет обменять их. Если у тебя есть целая пачка чая, дай ему, он на обратном пути обменяет и привезет вам сливочного масла или яиц. Дай ему детские рубашечки, которые я послала, и чулки, которые уже не годятся Мусе и Симе, может быть, он сможет их обменять.</span></p>
<p><span>Патоку, которую я посылаю, вы, возможно, не сможете есть так. Может быть, вам стоит её переварить с брусникой. Посмотри на повидло, которое я тебе отправила, может быть, оно испортилось, и его нужно будет переварить [<em>прокипятить</em>].</span></p>
<p><span>Вячеслав написал мне, что привезет вам сахар, рис и сливочное масло, масло нужно оставить на зиму, сахар варить не нужно, потому что сахара не будет, у нас его тоже нет, мне уже дали шоколад. Сахаром поделись с детьми [нрзб.: позже?], тебе нужно приберечь его и сказать позже, когда они у тебя всё съедят. По моему мнению, рис вам нужно оставить на зиму.</span></p>
<p><span>Напиши мне, есть ли у вас мука, крупа и лапша и сколько. Напиши, как твои дела и здоровье? Как ты выходишь?</span></p>
<p><span>Когда дети вернутся из колхоза, ты сможешь поехать к Сюзику, если ты еще захочешь. Будь здорова. Целую тебя много раз. Рушка. </span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>29 августа 1942</span></strong></p>
<p><span>Моя дорогая мама! Сегодня я получила от тебя письмо и открытку и письма детей. </span><span data-tag="цензура"><span> Я не пишу тебе писем по почте, потому что письма на идише очень долго идут, пока цензура их не посмотрит, проходит много времени. </span> Я отправила тебе письмо и посылку с Гореликом, ты завтра всё это получишь. С Гореликом я послала сухари, немного соды, бутылочку патоки (у нас в столовой дают патоку с кашей и с компотом), пачку табака для Сюзика, пачку каши &laquo;Талкан&raquo;, 300 грамм шоколада (сахара нет, я взяла шоколад), три репки из моего сада. Ты пишешь, что отложила сухари с сушками ради детей, пишу тебе еще раз, чтобы ты разделила сухари на три части и себе взяла одну часть, а детям оставила остальное. Горелику я отдала для обмена пачку чая и десять мотков ниток. Может быть, он сможет принести вам немного сливочного масла и яиц.</span></p>
<p><span>Еще Горелик передаст тебе для Вячеслава пару туфель. В туфлях лежит пузырек одеколона и пачка синьки. Потом к тебе придут забрать. В одной туфле лежит бутылочка &laquo;сабоцилловой воды&raquo;, это средство от вшей в голове. Если дети привезут с собой вшей, они должны намазать голову этой водой.</span></p>
<p><span>От Сюзика с Лелей вчера пришло письмо, от Вовы я не получила письма.</span></p>
<p><span>Твои коричневые сапожки у меня, и хочу отправить их тебе, если будет с кем. Я не понимаю, почему ты осталась без обуви, у тебя же есть новые сапожки и черные туфли, а валенки сейчас нужно отдать в починку, может быть, соседи знают, кто берет в починку. Для детей новых ботинок я еще не получила, я отдала пару своих старых закрытых туфель в починку, что-нибудь получится из них.</span></p>
<p><span>У нас сейчас выдают льняное масло, оно горькое и с отвратительным запахом. Ты должна его помнить еще с той войны, в масле, бывало, еще горел фитиль. На рынке у нас можно выгодно купить за 200 рублей литр. Напиши мне, стоит ли его купить или нет. Когда дети приедут, пусть они отнесут на продажу на барахолку немного барахла, тогда я смогу купить немного продуктов.</span></p>
<p><span>О том, как я выгляжу, нечего говорить. Ты сама понимаешь, что поправиться мне не с чего. Не посылать вам я тоже не могу, потому что детки, мои дорогие, приедут достаточно измученными и изнуренными с работы, и им нужно дать немного лучше поесть. Им нужно будет прийти в себя и спокойно пережить зиму.</span></p>
<p><span>С Гореликом я отправила вам банку со сгущенным какао, сладким и с молоком.</span></p>
<p><span>Я думаю, что скоро смогу послать вам еще немного продуктов.</span></p>
<p><span>С моего огорода я пошлю вам свеклы.</span></p>
<p><span>Напиши мне, как твое самочувствие? Берешь ли ты горячее в наркомате, и что дают на горячее.</span></p>
<p><span>Получила ли ты все карточки на сентябрь месяц?</span></p>
<p><span>Будь здорова. Пиши мне письма с оказией.</span></p>
<p><span>Целую тебя много раз. Рушке.</span></p>
<p><span>Сердечный привет Надежде Викторовне.</span></p>
<p><span>Если получишь что-то от детей, перешли мне. 29.08.42</span></p>
<p><span>Я думаю, пока тепло, тебе стоило бы сходить к врачам полечиться.</span></p>
<p><span>От 31 августа 1942 года</span></p>
<p><span>Любимая дорогая дочка Рашекиль!</span></p>
<p><span>Мне нечего тебе написать, только Горелик сказал мне, что кто-то поедет в Москву, пишу тебе несколько слов. Всё, что ты послала с Гореликом, я получила, только патока пролилась. Я всё приберегла для детей, пересылаю тебе их письмо. Лапши у меня нет, мука у меня есть та, что Каташев привез из Москвы, крупа у меня тоже есть. Не съедать всё &ndash; это Сарра спец, иначе как бы я в<em>ы</em>ходила 5 детей и выучила их. Большое спасибо тебе за соду: поскольку она нужна мне, потому что сердце словно горит огнем. Чулки я тебе не отправляю, потому что без детей я не знаю. [<em>нрзб]</em> Сюзик не пишет и не приходит. Повидло не испортилось, его не нужно переваривать. </span><span data-tag="праздники"><span> 12-го &ndash; 13-го Рош-а-Шана и через 7 дней Йом-Кипур. </span> Горелик сам принес посылку, я была поражена, я увидела в нем еврейскую искорку. Спасибо тебе за репу, но у меня тоже есть 3, только я не знаю, как их готовить, потому что, чтобы есть, у меня зубов нет, я себе уже сломала 3 зуба. Если бы у меня были желтые сапожки, я бы смогла за них взять тысячную. Будь здорова, живи хорошо [<em>букв. &laquo;проживи хорошую жизнь&raquo;</em>]. Целую тебя много раз. Твоя любящая тебя мать.</span></p>
<p><span>Дети пишут, что я должна отдать в починку валенки, но только никто не хочет их брать. Дети пишут, чтобы я отправила им сто рублей. Когда будет с кем, я их отправлю.</span></p>
<p><strong><span>&nbsp;</span></strong></p>
<p><strong><span>3 сентября 1942</span></strong></p>
<p><span>Моя дорогая мама! Я отправила тебе в воскресенье письмо, сейчас я пишу тебе еще раз: от детей у меня ничего нет, от них я получила письмо от 15-го августа и письмо от 19.08, которое вы переслали мне из Свердловска. Я совсем не знаю, что думать, что могло случиться с двумя &laquo;героями&raquo;. Напиши мне, получила ли ты посылку с Гореликом, что ты дала ему на дорогу? Что ты сделала с патокой, у нас все говорят, что получается вполне хорошее варенье с ней, сообразно с постом в войну. Скоро я пришлю вам еще раз сухарей и сладкого. Напиши мне насчет льняного масла? Покупать мне или нет. Я пришлю тебе немного на пробу. </span></p>
<p><span>Что сейчас дают есть в столовой? Что ты сделала с книжкой, которую я отправила Вячеславу, и двумя письмами, которые я ему отправила. Отдала ли ты их вообще его сестре, или они будут у тебя, пока он не придет?</span></p>
<p><span>У тебя уже забрали одеколон с синькой или нет?</span></p>
<p><span>Может быть, тебе тоже нужна синька? Напиши мне.</span></p>
<p><span>Если ты получишь письма от детей, сразу же перешли их мне, потому что я очень беспокоюсь, что они не пишут.</span></p>
<p><span>Что пишет Дора? Я имею в виду, что она уже должна была уехать оттуда, где она была. От Сюзика и Лели я получила письмо, они просят, чтобы и ты и дети жили у них. Для детей это нехороший план. Им лучше быть в Свердловске, где они будут и лучше питаться, и лучше учиться. У Сюзика комната всего 8 метров, на 8 метрах пяти людям слишком тяжело. Ты сможешь поехать, и побудь у него, пока тебе не надоест. Потом ты сможешь вернуться в Свердловск. Если ты хочешь поехать, то можешь ехать, когда дети вернутся домой. Сторожить вещи не нужно, я отправлю им замочек, они смогут запирать комнату.</span></p>
<p><span>Напиши, как твое здоровье? Будь здорова. Целую тебя много раз. Рушка. </span></p>
<p><span>Привет Оксаниной маме. </span></p>
<p><span>Когда дети вернутся домой, пусть отправят мне телеграмму. </span></p>
<p><span>Получаешь ли ты за меня жалованье?</span></p>
<p><span>3.09.1942</span></p>
<p><strong><span>&nbsp;</span></strong></p>
<p><strong><span>4 сентября 1942 года</span></strong></p>
<p><span>Любимая дорогая дочь Рашекиль!</span></p>
<p><span>Твое письмо и посылку я получила через Горелика, только то, что ты пишешь, что в одном ботинке Вячеслава лежит [средство] от вшей, я нашла, а во втором совсем ничего не было. Не знаю, забыла ли ты положить одеколон, ничего не было. Всё, что ты послала, я сохраню для детей. Я ем и пью и готовлю картошку детям, я обмениваю хлеб, лук я тоже выменяла 6 килограммов за две буханки, в столовой я также беру обеды, только второе когда как, иногда готовят картошку с кусочками свеклы, капусты, и Надежда Викторовна берет мне это; когда дети здесь, я не ем, потому что дают такие порции, что детям самим мало. Я не знаю, почему ты спрашиваешь меня, получила ли я карточки на сентябрь? Что меня позвали, иди получи малость, Сарра Одис; так что тебе совсем не нужно меня спрашивать, мы ничего не получаем, ничего в столовой, и ничего в лавочке, всякому нужно себе и своей семье, и больше ничего, только я не могу сравнивать себя со счастливыми, с Геней Давыдовной, с Надеждой Викторовной, с Елизаветой Ивановной. Я Сарра Одис, из несчастливой семьи. Если бы я не хотела вообще сейчас быть в Америке <em>[? в ориг. &laquo;Амерке&raquo;]</em>, я бы хотела только не умереть в этом проклятом городе. Леля звонила мне, чтобы я приехала к ним с детьми на зиму, потому что у нас наверняка не будут топить. Мои новые туфли у нас в грязь я не могу надевать, а валенки никто не берет починить, мои черные туфли уже порвались, а дети вообще босые. Растительное масло покупать не нужно, потому что его никто не сможет есть, о нас тебе не нужно беспокоиться, лучше ешь сама, тебе нужно трудиться за всех.</span></p>
<p><span>Пока у нас есть вещи, мне есть что готовить, и немного сливочного масла у меня тоже есть, и кокосовый жир у меня тоже есть, а </span><span data-tag="праздники: Песах"><span> на Песах я заколола курицу </span>, у меня немного смальца, я его не ем и берегу для детей на воскресенье, потому что в воскресенье им не дают обедов. Денег я тебе пока выслать не могу, потому что твоих денег у меня совсем нет, потому что я не получила доверенность, а без нее Надежде Викторовне не выдают, один раз была знакомая, она ей выдала, а теперь та больна, вместо нее теперь другая, и не выдают, а он не инженер, чтобы думать, когда здесь не на что жить, он должен заботиться о своей семье. Сегодня 4-го ко мне пришел молодой человек, он сказал, что он из семьи Агре, и Агре сегодня едет к Сюзику, что мне нужно ему передать, я дала ему табак и 5 мотков ниток. Я забыла, что у меня еще Симочкины туфли, которые ты посылала. На барахолку я не могу пойти, потому что мне нужно идти пешком. Я думаю, что дети уже скоро придут. Остаюсь твоя верная и любящая тебя мать. Целую тебя много раз и прошу тебя совсем ничего не посылать. Ешь тоже. Я должна написать тебе, что очень скучаю по тебе. Я пишу, а в глазах у меня горечь, потому что я хочу плакать и не могу. У меня в глазах такая горечь. Вовочка написал мне, что в тот же день, когда отправил нам, написал и тебе.</span></p>
<p><span>[приписка сбоку:] Почему ты не пишешь о Мите Тейтельбауме? Как у него дела сейчас?</span></p>
<p><span>[приписка сверху:] отправляю тебе Мусинькино письмо. Тебе нужно приехать.</span></p>
<p><strong><span>7 ноября 1942</span></strong></p>
<p><span>Дорогая мама! Пишу тебе несколько слов, потому что очень тороплюсь. Мне нужно отнести письмо и посылку до 8 часов.</span></p>
<p><span>Отправляю тебе бутылочку патоки, свари с ней варенье или повидло. У нас некоторые сварили и говорят, что это &laquo;одно и то же&raquo;. Ты можешь сварить бруснику или клюкву, или что у вас есть. С человеком, который поедет сейчас, ты сможешь отправить обратно пару бутылок или одну, как он захочет. Бутылки мне очень нужны, потому что у нас тоже открыли распределитель, там дают водку, только нужно дать две пустые бутылки, и можно получить бутылку водки.</span></p>
<p><span>Пока водки нет, есть только вино, только я не знаю, годится ли вам и вино тоже. Я постараюсь взять водку и отправить вам, чтобы выменять на картошку. Если вино тоже годится для этой цели, напиши мне. Отправляю вам 4 свеколки на борщ из нашего огорода. </span></p>
<p><span>У нас говорят, что в &laquo;закрытых&raquo; у вас дают капусту и лук. Ты получила или нет? Если получила, напиши? Получила ли ты газ?</span></p>
<p><span>Скоро я пришлю тебе соды и еще раз столько же сахарина, как раньше (5 граммов). </span></p>
<p><span>Сейчас отправляю еще две книжки для детей, которые им нужны в школе.</span></p>
<p><span>Сахар, который тебе даст Вячеслав, оставь только чтобы пить с ним, а готовить с ним нельзя, потому что сахара нет, у нас его дают только детям, а всем остальным только конфеты.</span></p>
<p><span>Передай Надежде Викторовне, что Оксана получила деньги. Она сейчас не пишет, потому что ей поздно сообщили, что кто-то поедет в Свердловск, и она не успевает написать. Она отправляет Наде 20 карточек, и я отправляю тебе 15 карточек. </span></p>
<p><span>Напиши мне, что ты сделала с этой патокой. Будь здорова. Целую тебя много раз. Рушка.</span></p>
<p>&nbsp;</p>
<p><strong>8 сентября 1942</strong></p>
<p><span>Дорогая мама! Сегодня я получила от тебя и Горелика письмо. Я думаю, он привезет вам немного сливочного масла. Это, конечно, была большая радость (это прекрасная &laquo;радость&raquo;, только я забыла, как это пишется). Я очень довольна, что у вас будет хоть немного повидла, потому что когда дети приедут, им сразу нужно будет взяться за [<em>еду?]</em>. У меня нет ничего от детей, но я очень довольна, что вы прислали мне их письма вам. </span></p>
<p><span>Мама! Вся патока вытекла, или осталось еще немного? Человек, который едет сейчас и привезет тебе патоку с свеклой и книжками детям, полетит обратно в Москву, так что он не возьмет у тебя бутылки. Бутылки должен будет взять с собой Горелик. С Гореликом передай мою маркизетовую темно-синюю </span>блузку с белой полосочкой и мою черную рубашку (она немного расшита синей нитью). Чулки отправь мне разорванные ради бога, потому что дети пишут, что они ходят в рваных. Пришли, какие ни на есть, пусть и рваные. Я приведу их в порядок. Желтые сапожки я тебе отправлю. Если будет с кем, отправь им 100 рублей. Пусть они пьют молоко.</p>
<p>Мама, попробуй готовить повидло с патокой, и напиши мне, как оно выйдет.</p>
<p>Мама, ешь ради бога, детям тоже останется. Будь здорова. Рушка.</p>
<p>Что ты делаешь с сахарином?</p>
<p>Целую тебя много раз. Рушка.</p>
<p><strong><span>12 сентября 1942</span></strong></p>
<p><span>Дорогая мама! Я получила твое письмо и открытки детей и письмо Мусеньки. Я очень рада, что уже заканчивается их работа в колхозе. У них столько же сил работать в колхозе, сколько и у меня. Слава богу только, что это наконец заканчивается. Теперь, когда они вернутся, они должны сразу же взяться за еду, немного прийти в себя. Что поесть у них пока имеется, у Мусеньки из-за плохого питания фурункулы, прыщи на руках тоже с этим связаны. Отправляю сейчас еще раз 300 граммов шоколада. Я могла бы правда у нас в закрытом взять сахара, но взяла шоколад, потому что Вячеслав написал мне, что он привезет вам сахар.</span></p>
<p><span>Ты очень умно поступила, что заготовила лук и картошку, чем больше ты сможешь заготовить, тем лучше. Я отправляю вам сейчас бутылочку витаминов &laquo;Шиповник&raquo;. Когда дети вернутся, им сразу же нужно начать принимать витамины. Один мой хороший друг обещал передать их вам, как только они прибудут. Когда их доставят сюда в Москву, еще неизвестно. Я думаю, что пока вы справитесь с этой бутылочкой, я смогу отправить вам еще бутылочку. Отправляю тебе еще 25 граммов чая.</span></p>
<p><span>В багаже, который вы получите, будет для &laquo;Нади&raquo; 200 граммов риса, а остальное вам (500 граммов риса, 300 граммов мелкой фасоли и 300 граммов гороха), три детских лифчика, вещи Вячеслава и три пары детских калош. Одна пара подойдет им, я так думаю, а вторая маленькая, её можно будет продать и купить за нее картошку или что-то другое или выменять на что-то.</span></p>
<p><span>Я думаю, что детям ехать к Сюзику и Леле нехороший план. Там маленькая комнатка, всего 8 метров, там же нужно и есть, а Сюзик сам тоже не сможет ухаживать за такой семьей. В Свердловск я всегда могу отправлять посылки, потому что люди всё время ездят, а в Уфалей я не смогу отправлять посылки. А я должна посылать вам посылки и дальше будут слать их вам.</span></p>
<p><span>Я бы хотела взять их в Москву, но сюда не впускают, и даже если бы их можно было провезти, нужно хорошо подумать, потому что топить у нас не будут, и света, возможно, тоже не будет. Еда тоже не слишком хорошая, школы, вероятно, тоже не будут обучать, и ко всем радостям, возможно, еще будут и бомбить тоже.</span></p>
<p><span>Ты можешь поехать к Сюзику, когда дети вернутся, там тебе будет хорошо, ты там сможешь перезимовать, а если нет, то ты сможешь вернуться в Свердловск. Твои желтые сапожки я пока не посылаю, потому что я попытаюсь отдать их в починку в воскресенье. </span></p>
<p><span>Поскольку горячее, которое вы получаете в столовой, содержит очень маленькие порции, готовьте себе еще немного, потому что иначе Мусенька не избавится от прыщей с фурункулами. </span></p>
<p><span>Детям я пока не пишу, потому что я думаю, что они еще в колхозе. 16-го едет еще человек в Свердловск, я думаю, что передам с ним уже им письмо.</span></p>
<p><span>Когда я смогу приехать, я пока не знаю. Ты сама понимаешь, что, наверное, я хочу приехать еще больше, чем вы хотите, только мы не хозяева положения и невозможно делать, что захочется, и то, что нужно себе. Я очень рада, что из-за этого ты уже соскучилась по мне.</span></p>
<p><span>Будь здорова. Как только дети приедут, пусть они сразу отправят мне или письмо с оказией, или телеграмму.</span></p>
<p><span>Привет &laquo;Наде&raquo;.</span></p>
<p><span>Митя Тейтельбаум уже едет на место. </span></p>
<p><span>Целую тебя много раз. Рушка.</span></p>
<p><span>Когда Горелик к тебе приедет, спроси у него насчет одеколона. С Гореликом отправь мне пару бутылок и все веревки и пару банок, если он захочет взять. Льняное масло я тебе не буду посылать, потому что это не льняное, а машинное масло. Королевская еда.</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>[без даты]</span></strong></p>
<p><span>Любимая дорогая дочь, я посылаю тебе мой рецепт и прошу тебя, может быть, ты сможешь получить у вас и передать мне [<em>не указано, что именно</em>[. Тебя не должно удивлять, что я не пишу тебе. Мусенька не дает мне. Питаются они сейчас очень хорошо, они берут три обеда и съедают их, и я тоже готовлю им. Они съедают, и к их хлебу Вячеслав дал свои 8 сотен граммов, и они съедают, а у Мусеньки уже подсохли её прыщики, так что тебе не нужно так волноваться. Твоя верная мать.</span></p>
<p><strong><span>3 января 1943</span></strong></p>
<p><span>Любимая дорогая дочка Рашкеле!</span></p>
<p><span>Ты пишешь, почему я не пишу тебе. </span><span data-tag="репрессии"><span> Как я могу писать: когда я потеряла мою любимую дочь Веку, свет моих очей, радость моего сердца. Ты же понимаешь, что если бы она не умерла, Лида Петровна ответила бы, так как Симочка ей дважды писала и совсем никакого ответа не получила. Я всё время сижу одиноко и думаю только о моей несчастной дочери, о её горькой судьбе. Как я могу жить, но как принять смерть? Сердце кровью обливается и рвется на куски, слезы не льются из моих глаз, но как можно пережить несчастье моего дорогого ребенка, я умерла, я не могу больше писать. </span>Будь здорова, мое дорогое дитя. Остаюсь на веки всех вас любящая мать<a href="#_ftn6" name="_ftnref6">[6]</a>.</span></p>
<p><span>[далее приписка детским почерком по-русски: Плохих учеников всех исправили и вылепили еще троих отличников, в том числе и Муньку. Наш класс лучший в третьей смене и, может быть, получит знамя. Как мы встречали новый год, ты уже знаешь. Ну, пока всего хорошего. Целую Сима -&nbsp; 01.01.1943</span>]</p>
<p><strong><span>&nbsp;</span></strong></p>
<p><span>&nbsp;</span></p>
<p><span>Перевод с идиша: Любовь Лаврова</span></p>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"><span>[1]</span></a><span> Вячеслав Рикман &ndash; друг семьи и будущий муж Раисы.</span></p>
<p><a href="#_ftnref2" name="_ftn2"><span>[2]</span></a><span> Зд. речь не о дочери Сарры Ревекке (Веке), а о ком-то другом.</span></p>
<p><a href="#_ftnref3" name="_ftn3"><span>[3]</span></a><span> Вероятно, речь идет о сталинской премии.</span></p>
<p><a href="#_ftnref4" name="_ftn4"><span>[4]</span></a><span> Века (Вера) в 1938 г. была осуждена как жена изменника Родины и отправлена в лагерь, где умерла от пневмонии 2 мая 1942 г., о чем ее мать и сестра пока не знают. </span></p>
<p><a href="#_ftnref5" name="_ftn5"><span>[5]</span></a><span> Имеется в виду Семен Белокриницкий, муж Веры, осужденный за контрреволюционную и вредительскую деятельность и расстрелянный в 1937 г.</span></p>
<p><a href="#_ftnref6" name="_ftn6"><span>[6]</span></a><span> Сарра Семеновна Барац умерла в начале января 1943 г.</span></p>