<p><em>Посвящаю своим дорогим детям, внукам, правнукам, </em></p>
<p><em>а также племянникам Леве и Наташе Райзам,</em></p>
<p><em>&nbsp;вдохновившим меня на этот &laquo;труд&raquo;</em></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Очерки о долго прожитой жизни</strong></p>
<p>Прожита большая, долгая жизнь. Я последняя живая представительница старшего поколения нашей семьи. Я еще многое помню и знаю о нашей небольшой семье, и поэтому хочется, чтобы о ней знали мои дети, внуки и правнуки, которые обязаны знать откуда они родом.</p>
<p>Мой любимый писатель Антуан Сент Экзюпери написал: &laquo;Все мы родом из детства&raquo;, когда маленький человечек (маленький принц) делал большие добрые дела, и в этом его необыкновенная прелесть. Этому герою необходимо следовать, и тогда жизнь станет легче, прекрасней, богаче.</p>
<p>Я не могла не написать об этом, так как мне хочется, чтобы мои потомки были добрыми, отзывчивыми людьми, жизнь с которыми становилась бы богаче, нужнее, ярче.</p>
<ol>
<li><strong> Семья Шапошниковых</strong></li>
</ol>
<p>Я помню себя примерно с 4-5 лет. Помню какие-то эпизоды из жизни нашей семьи.</p>
<p>Со слов родителей знаю, что мама рано вышла замуж. Она была очень красивой, окружена поклонниками, что доставляло много огорчений папе, так как он был очень ревнив.</p>
<p>О родителях мамы почти ничего не знаю. Мама рассказывала, что отец погиб на фабрике во время пожара, а мать умерла очень рано. <span data-tag="эмиграция">Трое ее сестер уехали в Америку, поселившись в Бруклине. Отец маму с ними не отпустил, так как маму очень любил и не представлял жизнь без нее. С сестрами у мамы не было никакой связи, переписки, так как при Советской власти Боже упаси было иметь родственников за границей. Вот мы и писали во всех анкетах, что родственников за границей у нас нет.</span></p>
<p>О родителях папы также знаю очень мало. Знаю только, что они были <span data-location="Одесса">коренными одесситами</span>. Деда совсем не помню. Бабушку запомнила &ndash; ее звали Поля. Это была полная, небольшого роста женщина с седыми волосами, убранными в пучок. Она бывала у нас нечасто, с внуками не возилась. Мы ее тоже редко навещали.</p>
<p><span data-tag="еда">Она очень вкусно готовила, и запомнилось, что когда надо было готовить к праздничному столу, бабушка была самой главной. Она стояла у плиты и готовила всякую вкуснятину. А вечером, когда гости сидели за столом, она, помахивая одной рукой белым платком, пританцовывая, вносила в другой руке приготовленное ею бесконечно вкусное кушанье. Все встречали бабушку весельем и благодарностью.</span></p>
<p>Бабушка, которую я, будучи маленькой, считала очень старой, умерла, когда ей было всего 60 лет.</p>
<p>В отличие от мамы, у папы семья была большая. Помимо отца и матери, были 3 сестры и 4 брата. Старшая сестра- Розалия Давыдовна Курлянд, муж &ndash; Исаак Курлянд. У них было двое детей &ndash; Сарра и Леня. Всех их давно нет. Потомком этой семьи является сын Сарры &ndash; Виктор Иванович Белоусов (мужем Сарры был Иван Белоусов). Витя женат, у него дочка пианистка, проживают они в Одессе. У меня с ними, к сожалению, нет никакой связи, и поэтому ничего больше о них написать не могу.</p>
<p>За тетей Розой следовала тетя Соня (Софья Давыдовна). У нее была единственная дочь &ndash; красавица Рая, с зелеными глазами и огромными ресницами, выдерживавшими спички, которые мы, дети, в шутку на них накладывали.</p>
<p>В 1941 году перед войной она вышла замуж, жили они в Днепропетровске. Когда началась война, они эвакуировались и погибли от нацистов под Маздоком.</p>
<p>Третья сестра &ndash; Сима Давыдовна. У нее был муж Мирон Дукаров и сын Ося. Они приехали в Одессу из Аргентины. Как они там оказались, я не знаю. Помню, что через некоторое время они переехали в Днепропетровск и очень сожалели, что уехали из Аргентины.</p>
<p>Мирон рано умер, и тетя Сима растила Осю одна, что было очень нелегко. Но и они на этом свете не задержались, умерли рано. Ося женился, жена его была невропатологом. Жили они в Днепропетровске. У них были 2 дочки, которые жили в Ленинграде. Одна из них приезжала к нам в Ереван погостить. Сейчас я о них ничего не знаю. Знаю только, что Ося давно умер.</p>
<p>Братья: Яша, Шура, Боря, Миша. Яша умер рано, Миша и Шура Шапошниковы жили и работали в Одессе. У Шуры была жена Наталия Александровна, детей у них не было.</p>
<p>У Миши жена Мила Яковлевна и сын Девик (Давид Михайлович Шапошников). По-моему, он уехал в США.&nbsp; Миша был веселым, очень остроумным, с ним было всегда весело, он хорошо играл на скрипке, учился вместе с Давидом Ойстрахом у профессора Столярского, который учил только талантливых детей. Но в отличие от Ойстраха, у него музыкальная карьера не сложилась. Он дружил с композитором Долмановским.</p>
<p>Война всех разбросала. С дядей Шурой я встретилась в Москве, но потом они уехали, и наша связь оборвалась.</p>
<p>Выделялся среди братьев в семье Борис Давыдович, как единственный получивший высшее образование. По специальности он был инженером, служил в армии, дослужившись до чина полковника. Его семья состояла из жены-красавицы Марьи Соломоновны и сына Давида. У Давида был сын Виталий. Бориса и Мани давно уже нет, они похоронены в Одессе, где проживали после отставки из Армии внук Бори. Виталий Шапошников уехал в Израиль, куда поехали также его отец, Давид Борисович Шапошников, и мать.</p>
<ol>
<li><strong> </strong><strong>Семья Шапошниковых</strong></li>
</ol>
<p>Наша семья состояла из пяти человек: папа, Лев Давыдович Шапошников, 1892 года рождения, мама Фаня Евсеевна, 1894 г., сестра Софочка, 1918 г., я, 1924 г. и наша незабвенная, беспредельно преданная, добрая, безотказная няня &ndash; горбунья Катюша.</p>
<p><span data-tag="семья">Конечно, главой семьи был папа &ndash; Лев Давыдович, родившийся 5 февраля 1892 г. и скончавшийся в тот же день и месяц через 50 лет.</p>
<p>В народе говорят, что такое бывает со святыми людьми, а папа был действительно святым человеком по своей необыкновенной доброте, отзывчивости, хотя, как отец, он был строгим.</p>
<p>Он нас физически никогда не наказывал, но за провинности переставал с нами разговаривать, не замечал нас, и это было очень тяжелым наказанием.</span></p>
<p>До 1930 года папа работал в Одесской таможне. Пользовался большим авторитетом и уважением не только у начальства, но и у портовых рабочих и &laquo;биндюжников&raquo;. Для них его слово было законом.</p>
<p><span data-tag="еда">В этот период мы жили очень хорошо, дом был полная чаша, много очень вкусной еды. Папа говорил: ешьте как следует, это то, что у вас никто не сможет отобрать.</span></p>
<p>Папа уважал всех, кто был достоин этого независимо от образования, должностного и общественного положения. Он в любой ситуации умел сохранять собственное достоинство, чувство гордости. <span data-tag="семья: дети">Он очень любил свою семью, обожествлял дочек. Ему никогда ничего не было трудно делать для нас. Правда, мое рождение его разочаровало, так как он очень хотел иметь сына. Но в дальнейшем это не помешало ему нежно любить меня, как младшую.</span></p>
<p>Но вот таможня ликвидировалась, и папа перешел на работу в учреждение &laquo;Союзоптбакалея&raquo; товароведом. Материально в семье стало значительно хуже. Время в стране было трудное, содержать одному семью было непросто.</p>
<p>Но папа не унывал, много работал и всегда учил довольствоваться тем, что есть. Он любил застолья, компании, душой которых сразу становился. <span data-tag="семья: дети">Гордился своими дочками. Обязательно заставлял меня играть на пианино для гостей, рассказывал при этом о моих музыкальных успехах. Мне это музицирование было неприятно, но ослушиваться папу я не смела.</span></p>
<p><span data-tag="музыка">Я училась наряду с общеобразовательной школой в музыкальной, у преподавательницы Симы Исааковны Шильман. Она поощряла мое желание по окончании музыкальной школы продолжать учебу в консерватории. Она рекомендовала готовиться в консерваторию у прекрасной преподавательницы, профессора Одесской консерватории Марьи Львовны Подрайской. Однако обучение у нее стоило очень дорого, и нашей семье это было непосильно.</p>
<p>Тогда было решено, что я буду репетитором учеников Симы Исааковны. Мне было 14 или 15 лет. Чтобы выглядеть постарше, я взяла у матери моей подруги Инны Животовской туфли на высоких каблуках, платье. В общем, стала солиднее, и родителям будущих учеников внушала доверие. Началась моя &laquo;педагогическая&raquo; деятельность. Все обходилось без особых неполадок. Я занималась достаточно серьезно, была строгой учительницей в 15 лет. Марья Львовна меня всячески поощряла. Я видела себя уже студенткой консерватории.</span></p>
<p>Но пришел 1941 год. В мире было тревожно, Гитлер захватывал одну страну за другой, и люди понимали, что война с Советским Союзом неизбежна. В Одессе тоже было очень тревожно. Я перешла в 10 класс школы, параллельно готовилась к поступлению в консерваторию на фортепианное отделение. Увы!</p>
<p><span data-tag="начало Великой Отечественной войны">Наступил страшный день 22 июня 1941 года &ndash; началась война. Папа пришел с работы рано, в панике. Скупали соль, спички, сухари и другие продукты. папа лучше нас понимал весь ужас случившегося. Больше всего боялся за нас, понимая, что скоро его призовут в армию и мы останемся одни. Папу призвали не то в июле, не то в августе. Никогда не забуду день прощания с ним. Я впервые увидела папу плачущим.</p>
<p>После ухода папы мы все почувствовали себя осиротевшими. Одессу уже довольно часто бомбили. Немцы были поблизости Молдавии.</p>
<p>Многие эвакуировались. мама понимала свою беспомощность в этом вопросе и очень переживала. Оставаться в Одессе нельзя было, так как с приходом фашистов это означало верную смерть.</span></p>
<p><span data-tag="эвакуация">Но неожиданно представилась возможность эвакуироваться с Заводом имени Октябрьской революции, где папа когда-то работал. Об этой возможности нам сообщили перед самым отъездом завода, и поэтому в панике мама собрала кое-какие вещи, закрыла на ключ квартиру, в которой осталось все наше имущество. </span></p>
<p><span data-tag="немцы">Когда встал вопрос об эвакуации, мама сказала об этом своей единственной сестре тете Бете и ее мужу дяде Мише Волку (такая необычная для еврея фамилия). Дядя Миша категорически возразил, говоря, что немцы цивилизованная нация и ничего плохого евреям не сделают. У него было представление о немцах по его общению с ними еще до Советской власти, когда он, будучи купцом второй гильдии, торговал с ними.</span></p>
<p><span data-tag="Холокост">В результате они остались в Одессе и были расстреляны в числе тысяч других евреев. </span></p>
<p><span data-tag="эвакуация">Итак, мы вчетвером &ndash; мама, Софочка, Катя и я &ndash; навсегда покинули Одессу.&nbsp; Ехали мы на грузовом пароходе, спали на полу палубы, но нам, молодежи, было все нипочем. Плыли мы несколько суток, на вторые сутки мы узнали, что пассажирское судно, плывшее впереди нас, подорвалось на мине и было много погибших.</p>
<p>Приехали в Мариуполь. Там остановились у каких-то незнакомых людей. Не знаю каким образом, Софочка узнала, что военная часть, где служил ее муж Гриша, находится недалеко от Мариуполя. Она тотчас же решила ехать к Грише. Никакие уговоры не помогали, и она уехала. Тем временем Мариуполь тоже начали изредка бомбить. Встал вопрос о дальнейшей эвакуации завода. Софочка не возвращалась, а мы не знали, где она. Мама очень переживала, не знала, как быть, но о том, чтобы ехать без Софы не могло быть и речи. Но вот Софочка вернулась, завод эвакуировался дальше. Мы, погрузившись на железнодорожную платформу, поехали в Ростов-на-Дону. Из Ростова поехали в Сталинград. Мы ехали на таких же грузовых платформах, груженых металлическим ломом. Затем эвакуация продолжилась в Ташкент, который был конечным пунктом этого тяжелого изнурительного &laquo;путешествия&raquo;.</p>
<p><span data-location="Ташкент">Ташкент</span> нам показался &laquo;землей обетованной&raquo;. Там не было светомаскировок, окна не были заклеены крест-накрест. На улице продавали пирожки и виноград, на которые по приезде мы буквально набросились.</p>
<p>Правда, все вскоре изменилось. С приездом большого числа эвакуированных нам кричали местные жители &laquo;понаехали на нашу голову&raquo;. И все же первые дни нашего пребывания в Ташкенте были незабываемыми. В Ташкенте мы ждали отправленный из Одессы багаж почти год. Наняв комнату, мы спали на полу на соломенных подстилках без всяких постельных принадлежностей. Зима в этот год в Ташкенте была на диво суровой, температура доходила до 30 градусов ниже нуля. Голодные, холодные, измученные, мы жили надеждой на скорое окончание войны.</p>
<p>Ташкент в ту пору был крупным культурным центром. В нем жили&nbsp; и творили Анна Ахматова, Алексей Толстой, Фаина Раневская и многие другие знаменитые личности.</p>
<p>Жизнь шла своим чередом, мы получили свой багаж, который был собран мамой за час до отъезда, и поэтому оказалось, что вместо платья с поясом был уложен только пояс, место двух туфель &ndash; только один и т.д. Но все же в багаже была какая-то теплая одежда, постельные принадлежности, что позволяло делать жизнь более нормальной.</p>
<p>С большим трудом я была принята на работу в инфекционную больницу статистиком. Приходилось вставать в 6 часов утра, чтобы пешком добрать до работы. На работу меня снаряжала Катя. Не помню, какая была на мне верхняя одежда, но хорошо помню, что на ногах я носила галоши с шерстяными носками. Мерзла ужасно.</p>
<p>Софочка ходила на учебу в Одесский университет, куда она поступила до войны. Университет также был эвакуирован в Ташкент.</p>
<p>Средствами к существованию у нас были деньги от продажи маминых золотых украшений, а также вырученные от продажи пирожков, которые мама пекла, а Катя продавала.</span></p>
<p>От папы известий не было. Он воевал на Волоколамском направлении под Москвой.</p>
<p>И вдруг произошло чудо. К концу весны 1942 года открылась дверь и вошел папа. Мы не могли поверить своим глазам. Я вскочила и бросилась к папе, и с этого времени моя болезнь прошла, как не бывало. Папа вскоре поступил на работу. Его учреждение &laquo;Союзоптбакалея&raquo; также эвакуировалась в Ташкент, и поступил туда на прежнюю должность.</p>
<p>Жить стало легче. А главное, мой любимый папа был рядом. Папа приносил каждый день &laquo;деликатесы&raquo; - пирожки с картошкой, которые он получал для сотрудников. Но за то, что он лично их доставлял на себе в учреждение, ему давали дополнительно на каждого члена семьи по пирожку.</p>
<p>Но радость пребывания папы с нами была недолгой. В начале января 1943 года военкомат направил его на комиссию для определения возможности дальнейшей службы в армии. Комиссия послала его на исследование в больницу. Это было для папы роковым. Из-за страшного холода в больнице папа заболел воспалением легких.</p>
<p>Несмотря на тяжелое состояние, когда в палату, где он лежал, на полу уложили молодого человека с высокой температурой, папа не мог к этому оставаться равнодушным и положил этого парня на кровать рядом с собой. У последнего оказался сыпной тиф, и папа тут же заразился этой смертельно опасной болезнью.</p>
<p>Состояние папы было критическим. мы забрали папу домой и лечили дома. Лекарств не было, я ходила по аптекам и выклянчивала что могла. С Софочкой мы приносили кислородные подушки. Мы так хотели спасти любимого папу, но нам это не удалось. На 14-й день пребывания дома папа скончался. Ему был 51 год.</p>
<p><span data-tag="еврейская идентичность">Его похоронили на каком-то еврейском кладбище Ташкента, хотя он никогда не был религиозным и был евреем только по крови.</span></p>
<p>Потом выяснилось, что кладбище это снесли и на его территории построили птицеферму. Так что, могилы папы нет. Папа часто пел песню:</p>
<p>&nbsp;- Позабыт позаброшен</p>
<p>&nbsp;&nbsp;&nbsp; С молодых ранних лет.</p>
<p>&nbsp;&nbsp;&nbsp; .........................................</p>
<p>&nbsp;&nbsp; И никто не узнает,</p>
<p>&nbsp;&nbsp;&nbsp; Где могила моя.</p>
<p>Песня оказалась для папы трагической. Никто не знает, где его могила. Смерть папы была для меня первой бесконечно тяжелой утратой. Со смертью папы, да будет ему земля пухом, заканчиваю свои воспоминания о семье Шапошниковых.</p>
<p>&nbsp;</p>
<ol>
<li><strong>О семье Шапошникой-Райз</strong></li>
</ol>
<p>Софья Львовна родилась 25 декабря 1918 года. Она была на 6,5 лет старше меня. Выйдя замуж, она осталась на своей фамилии. Добрая, умница, она всех располагала к себе и в детстве, и будучи взрослой.</p>
<p>У нее в молодости было много поклонников, к которым она относилась довольно прохладно. Но вот появился студент старших курсов того же исторического факультета Райз Григорий Яковлевич, и моя сестра полюбила его на всю жизнь, как и он ее. В 1940 году они поженились. Вскоре Гриша был мобилизован в Армию и зачислен в войска, направленные для освобождения Польши.</p>
<p>Софочка очень переживала разлуку, волновалась за жизнь Гриши. Но ______________ была относительно недолгой, и Гриша вернулся. Жили они у нас дома.&nbsp; Гриша был старше Софочки на 7 лет. Куда его отправили по окончании университета, я не помню.</p>
<p>Папа, не имея сыновей, очень привязался к Грише и считал его своим сыном. В начале войны в 1941 году еще при жизни папы Гриша был мобилизован в Армию. Он был ранен на фронте. В связи с тяжелым ранением его положили в тыловой госпиталь. Софочка из Ташкента ездила к нему. В каком городе был госпиталь, я не помню.</p>
<p>У Гриши было повреждено колено правой ноги. Врачи настаивали на ампутации, но Гриша категорически отказался. В конце концов нога была спасена, что стоило невероятных усилий. Правда, колено не сгибалось, и Гриша хромал всю оставшуюся жизнь.</p>
<p>После госпиталя Гриша вернулся к нам, и мы все жили в Ташкенте. Во время проживания в Ташкенте Софочка окончила университет, получив диплом историка.</p>
<p>24 ноября 1943 года произошло радостное событие &ndash; Софочка родила сына. И конечно же нарекли его Левой, то есть именем дедушки. Вся семья была очень рада рождению мальчика. Он был слабым болезненным ребенком. И Софочка, и мама, как могли выхаживали его. Бабушка Фаня Евсеевна очень любила своего внука-первенца.</p>
<p>Наконец после долгих 4 лет, 9 мая 1945 года кончилась война. Радость этого события описать невозможно. Я была бесконечно радостной, танцевала на улице и прочее.</p>
<p>Но вскоре возник вопрос, где мы будем жить. В Ташкенте оставаться не хотелось. По имевшимся у нас сведениям (потом оказалось неверным) наш и Гришин дома разбомбили, поэтому возвращаться в Одессу сочли невозможным.</p>
<p>Гриша настаивал на отъезде в Москву, у него там были родственники. С ним согласились, и вскоре мама, Софочка, Катя, Гриша и Левочка покинули Ташкент, уехав в Москву. Я осталась в Ташкенте, так как училась в юридическом институте, и бросать учебу нельзя было.</p>
<p>В <span data-location="Москва">Москве</span> все оказалось значительно сложнее, чем полагал Гриша. <span data-tag="жилье">Жить там было негде. Тетка Гриши по имени Поля согласилась приютить всю семью Гриши в ее доме под Москвой на станции Кусково. Выделена была всему семейству одна 12-метровая или 15-метровая комната. Начались вновь мучения и нужда. Правда, вскоре Гришу приняли на работу в ремесленное училище педагогом истории. Конечно, не о такой работе мечтал Гриша, но делать было нечего. Софочка тоже устроилась на какую-то работу, но не по специальности. Мама ухаживала за Левочкой, который часто болел.</p>
<p>Добираться из Кусково на работу в Москву и обратно было очень непросто. Дом был далеко от станции, где проезжала электричка. Кроме того, необходимо было преодолевать высокий длинный мост. Это было особенно трудно зимой и вечером по возвращении с работы. Все это приходилось терпеть, так как другого выхода не было.</p>
<p>Мучения продолжались несколько лет. За это время Софочка поступила на работу в Министерство, по-моему, строительства. Профиль работы был неожиданный &ndash; экономистом. Она как-то быстро освоила эту непростую профессию, и впоследствии, когда она по каким-то вопросам требовалась министру, он говорил: &laquo;Вызовите эту всезнающую даму&raquo;.</p>
<p>Спустя несколько лет проживания в Кусково, Софочке с семьей была предоставлена в Москве 1 комната в коммунальной квартире. Это было огромной радостью, что в наше время не понять. Я даже вылетела в Москву, чтобы разделить эту радость. Жила семья моей сестры обычной жизнью без потрясений.</span></p>
<p>Сын Лева отслужил 3 года в Армии. При этом Софочка с присущей ей аккуратностью ежедневно отправляла письма своему любимому сыну. Возвратившись из службы в Армии, он закончил техникум, затем химический факультет высшего учебного заведения.</p>
<p>Лева женился, но брак был неудачным, и он развелся. Это было ударом для всей семьи, но оставалось смириться с происшедшим. Через некоторое время Лева женился вторично на Наташе. Брак оказался удачным, и уже долгие годы они живут счастливо. Лева и Наташа успешно работали. В этом браке родился сын Виталий. К этому времени у Левы уже была двухкомнатная квартира, и у Софочки &ndash; небольшая двухкомнатная квартира. Они жили неподалеку друг от друга.</p>
<p>Когда Виталик подрос и пошел в школу, Софа оставила свою очень престижную работу и полностью посвятила себя любимому внуку.</p>
<p>Но наступил 1984 год, казалось бы, не предвещавший ничего плохого. Софочка с Гришей летом отдыхали в Прибалтике. Она была очень довольна этим отдыхом, о чем рассказывала мне по телефону, говоря, что с нетерпением ждет меня в Москве.</p>
<p>По приезде в Москву Софа и Гриша решили поехать в Подмосковье, где отдыхали на даче Лева с семьей. После недолгого пребывания у Левы, с Софочкой случился инсульт, о чем мне сообщил по телефону Гриша.</p>
<p>Я решила, что улажу все свои дела и тут же поеду ухаживать за Софочкой. Мысли о ее смерти у меня не было. Но через день позвонил Гриша и сказал, чтобы я выехала немедленно, так как Софочке очень плохо. Я тут же вылетела, но Софочка лежала в больнице без сознания. Врачи не давали никакой надежды на ее поправку. Через 3-4 дня после моего приезда Софочка умерла. Я потеряла горячо любимую сестру, и горе мое было бесконечным. Труп Софочки не кремировали, а по моему настоянию похоронили на одном из московских кладбищ.</p>
<p>После смерти Софочки командировки в Москву для меня из радости превратились в испытание, так как там я еще острее чувствовала отсутствие Софочки.</p>
<p>Но жизнь шла своим чередом. О жизни Софочки с семьей Левы я подробностей не знаю, так как жили мы на большом расстоянии &ndash; я в Ереване, они &ndash; в Москве.</p>
<p>Знала, что, когда Виталик поступил в институт, Лева и Наташа успешно работали. То есть, знала об основных событиях.</p>
<p><span data-tag="антисемитизм">В Москве процветал антисемитизм. Многие евреи уезжали. Ехали в Израиль, в США, еще в какую-нибудь страну. Лева также решил, что им следует уезжать.</span></p>
<p><span data-tag="эмиграция">Такое решение казалось странным, так как у Левы была хорошая трехкомнатная квартира в центральной части Москвы, хорошая престижная работа, на которой и он, и Наташа пользовались авторитетом и уважением. Но Лева на отъезде настаивал, хотя и Наташа, и Виталик не очень хотели покидать Москву. В конечном итоге Лева уговорил их, и они уехали в США, где проживают по настоящее время.</p>
<p>Еще до отъезда у Левы произошел тяжелый инфаркт. С трудом его удалось спасти. Наташа была неотступно при нем. Несмотря на тяжелое заболевание сердца, Лева решился на отъезд с семьей в далекую, незнакомую Америку, где у него по сути никого из близких или родных не было. Там ему сделали удачную операцию на сердце.</p>
<p>В США Виталик окончил университет, затем защитил диссертацию (это &ndash; по-нашему, а как это в действительности у них называется &ndash; не знаю). Сейчас, по рассказам Левы, Виталик доктор наук, успешно работает, выезжает с докладами на разные конференции, симпозиумы. В общем, Виталий Львович Райз &ndash; умница. Но к величайшему сожалению до всех этих успехов моя сестра не дожила.</span></p>
<p>Гриша умер от сердечной недостаточности в 19___году. Вот все, что я могла написать о своей любимой сестре и ее семье, без особых подробностей и деталей, которые, возможно, были интересными, но я их не знаю.</p>
<p>&nbsp;</p>
<ol start="3">
<li><strong> О семье Шапошниковой Полины Львовны и Козлинера Иосифа Исааковича</strong></li>
</ol>
<p>И, наконец, о себе и своей семье, что написать бывает непросто.</p>
<p>Как я уже писала, родилась я 11 июня 1924 года. Была очень худенькой. Знакомые в шутку спрашивали родителей, почему они меня не кормят.</p>
<p>Жили мы в Одессе на улице Бабеля д. № 6. До революции эта улица называлась Еврейской, сейчас ее вновь переименовали в Еврейскую. На ней размещено управление КГБ. Наверное, такой адрес пребывания для работников этого учреждения не очень приятен, но к одесским евреям это не имеет отношения.</p>
<p><span data-tag="жилье">Наша квартира располагалась на бельэтаже дома (между первым и вторым этажом), состояла из 4 комнат. Как мне помнится, квартира была очень хорошей, просторной, с украшениями в углах потолков, с кафельными печами с изразцами, с паркетными полами. Квартира состояла из большой комнаты (тогда она мне казалась очень большой), это была столовая, затем шел коридор, сейчас его назвали бы холлом, куда выходили двери из небольшой комнаты &ndash; папиного кабинета, и просторной спальни. Вторая дверь вела во второй коридор и детскую, тоже достаточно просторную. Второй коридор вел в кухню, ванную и туалет. В квартире было 2 входа: парадный &ndash; с улицы, и &laquo;черный&raquo; - со двора. В такой квартире мы жили примерно до 1930 года.</p>
<p>У нас были домашние работницы, пока папа работал в таможне. Запомнилась Агафья Петровна и Марья Васильевна. Агафья Петровна была пожилая женщина. Она меня любила и как могла баловала.</p>
<p>Марья Васильевна была сухим человеком и ко мне относилась безразлично. После 1930 года был издан закон об уплотнении жильцов квартир. По этому закону в квартире на одного человека должно было приходиться не более 7 кв. метров. У нас оказалась слишком большая жилая площадь из расчета семьи из 5 человек, и у нас были отобраны 2 комнаты &ndash; кабинет папы и детская. Поселили туда совершенно чужих, незнакомых людей. Те, что проживали в бывшем кабинете папы, чтобы попасть в кухню или туалет, проходили через нашу спальню. Понятно, какое это было неудобство, но ничего сделать нельзя было и оставалось примириться.</span></p>
<p>В этой маленькой комнате сначала проживали педагоги музыки Фаня Яковлевна и Наум Израйлевич. Это были очень симпатичные, интеллигентные люди, и отношения с ними были хорошие. Они обратили внимание на мои музыкальные способности. Ведь я с 4-х лет много времени сидела за пианино и что-то наигрывала.</p>
<p>Они взяли меня в Одесскую консерваторию, чтобы показать тамошним преподавателям. Нашли, что у меня абсолютный слух и большие музыкальные способности. Фаня Яковлевна, несмотря на мой совсем малый возраст, начала заниматься со мной музыкой. Но через некоторое время наши занятия прекратились из-за получения самостоятельной квартиры этими славными людьми. Я возобновила занятия музыкой в 8 или 9 лет, поступив в музыкальную школу.</p>
<p><span data-tag="образование: школа">В 1932 году в возрасте 8 лет пап отвел меня в школу N 39, которая находилась недалеко от нашего дома. Я очень хорошо помню, что, когда я пошла в школу, была одета в простое платье серого цвета, простые туфли, которые мне купили, выстояв ночь в очереди. Тогда немодно было одевать детей, поступивших в первый класс, в нарядные одеяния, давать букеты цветов преподавателям, что делается сейчас.</p>
<p>Встретила нас классная руководительница по имени Татьяна Ивановна, сухопарая, некрасивая, непривлекательная женщина. В прошлом она была классной дамой в гимназии. Она была очень строгой, к детям с криками, всех называла только по фамилии. Я ее очень боялась.</p>
<p>К школе я не была подготовлена. Родители считали, что всему меня научит школа, и никакой подготовки не нужно. В первые дни занятий в классе со мной произошел неприятный эпизод. У доски я писала текст, который диктовала учительница, и в слове &laquo;соль&raquo; я не написала мягкий знак. Учительница меня строго упрекнула, а дети в классе начали смеяться. Мне стало очень обидно, и, вернувшись за парту, я заплакала от обиды и унижения, которые я тогда почувствовала.</p>
<p>Вечером о случившемся я рассказала папе и вновь заплакала. В ответ он сказал (как сейчас помню): &laquo;Плакать не надо, от этого грамотнее не станешь, а вот прилежно учиться с первого дня прихода в школу необходимо, чтобы не повторились такие конфузы&raquo;.</span></p>
<p>В детстве, еще до школы, у меня была подружка, соседская девочка по подъезду Гала Бердичевская. Мы хорошо дружили, играли в куклы, наряжали их, придумывали разные истории, отправлялись во всякие придуманные путешествия. Но вдруг мы рассорились из-за какой-то куклы, перестали разговаривать друг с другом и больше не помирились. Потом Гала с семьей выехали из нашего дома, и мы никогда больше не встречались.</p>
<p>Возвращаясь к учебе в школе, вспоминаю, что в занятиях мне никто не помогал. Да и некому было. У мамы и папы не было никакого образования. Софочка была занята своими делами и институтом. Сначала учеба давалась трудно, но я постепенно привыкала, и ко второму классу я уже училась хорошо. И вообще, в школе я училась хорошо, но точные науки мне давались с большим трудом. Так что способности Льва к точным наукам &ndash; это не мои гены (так, между прочим).</p>
<p>Во время обучения в школе я много читала. У нас в классе был очень хороший мальчик Сережа Бернштейн, отлично знавший математику, физику, химию. Мы с ним дружили. Он был какой-то странный, как мне казалось, немного запуганный. К ним в дом приходить нельзя было, исключение было только для меня. У них были прекрасные книги, много русской классики, иностранной, которые Сережа давал мне читать. Много позже я поняла, что отец Сережи видимо был репрессирован, и поэтому тема отца была запретной. Он не эвакуировался из Одессы и наверное погиб, как и другие евреи.</p>
<p><span data-tag="дача">Живя в Одессе мы, как правило, на лето выезжали на дачу, на одиннадцатую или шестнадцатую станции. Дачи &ndash; это был пригород Одессы, куда ехали трамваи. Название дачной местности станциями связано было с недостатком воды в Одессе, но подробностей я не помню. Дачи располагались вблизи моря. Мама нанимала комнату, в которой мы проживали, но большую часть дня я и Софа проводили на пляже, купаясь в прекрасном Черном море, греясь и загорая на песке пляжа.</p>
<p>Когда папа приезжал с работы, он тоже ходил купаться. Я и Софочка ходили с ним и купались в море. Вечернее купанье обладало особой прелестью, особенно когда луна и звезды отражались в воде. Любовь к морю сохранилась у меня и по сей день, но это только теоретически.</p>
<p>На дачу к нам из Москвы приезжали Фима, который ухаживал за Софочкой, и двоюродный брат Оси, Абраша Штейнберг. Они были студентами Московского авиационного института. Мама готовила всякие вкусности. Было много рыбы: кефаль, которой вообще не стало, скумбрия, бычки, камбала и др. Мне запомнился замечательный вкус фаршированной жареной скумбрии, которую мама прекрасно готовила и мы с удовольствием уплетали.</span> Абраша ко мне относился как к взрослой, и мне это очень льстило. Мы говорили о литературе, о произведениях Бальзака, Стендаля, Б. Шоу и других. В общем, мне было очень интересно, и я с нетерпением ждала приезда Абраши. Но жизнь его сложилась не совсем удачно. Когда я переехала в Москву, то приглашала его в свою компанию. Он охотно приходил, скрывая, что женат, и делал вид, что ищет невесту. Закончил жизнь он трагически, закончив тяжелой формой депрессии. У него сын Миша, который женат и живет с матерью, Люсей Штейнберг в Москве. Когда встал вопрос, какой национальности записать Мишу (ведь она русская), Абраша очень резко заявил, что Михаила Абрамовича Штейнберга (так должен был называться Миша) при таком отчестве и фамилии никто за русского не признает, как бы он не значился в документах.</p>
<p>&nbsp;В школе с первых же классов я подружилась с очень хорошей девочкой Инной Животовской. Ее родители ко мне прекрасно относились, особенно папа Иван Филиппович. Он постоянно просил, чтобы я играла и пела романсы. Я это умела.</p>
<p>Инна жила близко от меня &ndash; Бебеля 14. Мы общались ежедневно, а то по 2-3 раза в день. Она очень любила театр и из дворовых детей организовывала &laquo;труппу&raquo;, и мы играли в этом &laquo;театре&raquo;. Помню, она ставила &laquo;Пиковую даму&raquo; Пушкина, и я должна была играть Полину. Но спектакль не получился.</p>
<p>Мы много времени проводили в их дворе, и мне это очень нравилось. Однажды приключилась большая неприятность. Я бежала к Инне и не заметила, что дом, мимо которого я должна была пробежать, огорожен проволокой. Я шеей ударилась об эту проволоку , упала, ударилась головой. Какие-то люди подняли меня, из головы шла кровь. Я попросила отвести меня к Инне. Там перепугались, отвели меня домой. Мама в панике тут же отвела меня к врачу. Меня рвало, было плохо, врачи определили сотрясение мозга. Сколько и где я пролежала, не помню. Вспоминаю только период выздоровления. Я лежала на диванчике в столовой, и когда разговаривала, желая сказать какое-то слово, изо рта вылетало совсем другое, неподходящее.</p>
<p>Но все прошло бесследно, я поправилась, и голова оказалась в порядке.</p>
<p><span data-tag="музыка">Вернусь к моим музыкальным делам. Музыкальные успехи у меня были по-настоящему хорошие. Я часто играла на концертах. Помню, что перед выступлением у меня очень мерзли руки. Мама приносила горячую грелку, вернее &ndash; бутылку с кипятком, чтобы согревать руки. Потом, позже я поняла, что холодные руки были от волнения перед выступлением.</p>
<p>С момента, когда я начала репетиторскую работу, я получала оплату. C разрешения родителей постоянно на весь год покупала абонемент в филармонию. Это давало возможность услышать многих знаменитостей. Приезжали с концертами (в прошлом многие из них одесситы) Давид Ойстрах, Эмиль Гилельс, Яша Гилельс, Роза Тамаркина, Лев Оборин и многие другие. Приезжали также певцы, дирижеры. Больше всех я запомнила Зандерлинга, его необыкновенную манеру дирижировать и _________________.</p>
<p>Эти концерты вдохновляли меня на занятия музыкой. Втайне я мечтала тоже стать знаменитой. </span> Когда подросла, часто бывала в театрах, особенно в русском, где играли очень неплохие актеры.</p>
<p>Но время шло быстро, я взрослела. Когда началась война, о чем я уже писала, мне было 17 лет. В Ташкенте мне исполнилось 18 лет. В этот день папа пошел куда-то за тридевять земель и принес к праздничному столу разные козинаки, о которых в эвакуации мы и не слышали, не говоря о том, что и не пробовали. Я была очень благодарна папе за этот подарок. Папе было это приятно, но он говорил, что ничего особенного он не сделал, ведь я любимая его дочка.</p>
<p><span data-tag="образование: институт">Я много думала о последующей учебе. К сожалению, было ясно, что продолжить музыкальное образование мне не суждено. Инструмента &ndash; пианино у нас конечно не было, да и поблизости ни у кого не было. Для поступления в консерваторию достаточной подготовки тоже не было. Это обстоятельство меня очень огорчало, но оставалось смириться.</p>
<p>Однажды я со своей будущей сокурсницей Людмилой Никитиной (Потом Серапигской) проходили мимо какого-то здания, где висело объявление о принятии на учебу в юридический институт. О карьере юриста я никогда даже не думала. Но на это объявление я обратила внимание, поскольку другие институты таких объявлений не делали. Кроме того, у меня была трудность для поступления в институт &ndash; отсутствие аттестата об окончании 10 классов. Была только справка, что я ученица 10 класса. Решила, что надо попробовать поступить в этот институт.</p>
<p>Дома я ничего не сказала. Начала готовиться к экзаменам. Экзамены сдала хорошо, никто не обратил внимание на отсутствие аттестата. Дело в том, что желающих учиться в юридическом институте было очень мало, и поэтому больших строгостей, связанных с поступлением, не было.</p>
<p>В институте были преподаватели из Москвы &ndash; декан Московского юр. института профессор Клейнман, он читал гражданское право, профессор Карецкий, читавший международное право, из Киева, профессор Домбровский из Харькова читал уголовное право, профессор Сливицкий, также из Харькова, читал государство и право, и другие. Единственным узбеком был директор института Ишханов, который все время учебного процесса проводил в чайхане. Того, кто хотел попасть на прием к Ишханову, направляли в ближайшую чайхану, и там обычно состоялась встреча &laquo;жаждущего&raquo;.</p>
<p>О поступлении в юридический институт я рассказала дома, и все обрадовались, особенно папа. Ему очень нравилась профессия юриста.</p>
<p>Когда однажды, гуляя с папой, мы встретили известного одесского адвоката Розенблата, также эвакуированного в Ташкент, с которым папа был знаком, он с гордостью сообщил, что я, его дочь, учусь в юридическом институте. Розенблат сказал, что это очень хорошо и по окончании надо быть адвокатом. Его пожелание, как известно, сбылось: я всю работоспособную жизнь посвятила адвокатуре.</p>
<p>Училась я в институте не просто хорошо, а отлично, была активной, избиралась старостой курса, на конференциях делала доклады. Но наряду с учебой в институте, я ходила в университет слушать лекции по истории искусств московского профессора Колпинского. Это было необыкновенно интересно. Колпинский в моем представлении походил на Иисуса Христа. Особенно в его внешности выделялись огромные синие глаза.</p>
<p>Меня эти лекции настолько увлекли, что я решила оставить юридический институт и перейти на искусствоведческий факультет университета. Я об этом сказала профессору Клейнману, на что он ответил: &laquo;Вы хорошо вошли в наш &ldquo;двор&rdquo; и мы вас никуда не отпустим&raquo;. Так и продолжала учебу в юридическом институте. Лучше ли это или хуже &ndash; трудно судить. Во всяком случае, таков факт, вернее &ndash; судьба.</span></p>
<p>Учебу в институте я совмещала с работой в качестве библиотекаря и &laquo;пианистки&raquo; в фабрично-заводском училище . Вместе со мной работала руководительницей хора Клара Исааковна, у которой муж был на фронте, а с нею &ndash; двое маленьких детей. Конечно же ей было не до работы, и часто, по ее просьбе, я выполняла ее функции.</p>
<p>Когда мои родные уехали в Москву, я начала жить в ФЗО. Сначала я ночевала в углу за шкафами. Но вскоре мне предоставили комнату с молодой девушкой, моей ровесницей Таней Шенниковой, которая работала в бухгалтерии. Жили мы дружно. Иногда она даже стирала мои вещи из уважения к моей &laquo;личности&raquo;. Работала я без надрыва, но начальство было довольно.</p>
<p>Однажды я пришла домой после работы и Софочка мне сказала: &laquo;танцуй&raquo;. Я не поняла в чем дело, тогда она мне протянула письмо. Оно оказалось от Иосифа Козлинера. Письмо было с фронта &ndash; теплое, доброе. И я вспомнила молодого человека, который приходил к нам домой в числе компании Софочки. Однажды, незадолго до начала войны, пришел Ёся. Он был в красивом черном пальто, в шляпе &ndash; в общем, элегантно выглядел. Я сказала, что Софы нет дома, на что он ответил, что подождет. Мы разговорились. Он рассказал, что сбылась его мечта, и он учится в институте театрального искусства на режиссерском факультете. У меня в руках была большая толстая книга по психологии. Он удивился такому моему чтиву и спросил, не скучно ли такое читать, на что я ответила, что не только не скучно, но даже очень интересно.</p>
<p>Когда мама зашла в комнату, где мы разговаривали, Ёся вскочил со стула и не садился до тех пор, пока мама не вышла из комнаты. Меня приятно удивила такая воспитанность. В общем, Ёся мне очень нравился, но больше мы не встречались. После получения письма между мной и Ёсей началась оживленная переписка. Получив письмо, я его вспомнила с добрым чувством. Вспомнила, как Софочка меня вызывала, чтобы я играла для компании, в которой был также Ёся, и они танцевали танго, фокстрот, нахваливали меня, так как без моей игры они не смогли бы танцевать: другой музыки у нас дома не было.</p>
<p>Когда Софочка уезжала в Москву, мы договорились, что она будет хлопотать о моем переводе в Московский юридический институт. Откровенно, я не верила в такую возможность, но, как говорится, попытка не пытка.</p>
<p>После их какого-то минимального бытового устройства в Москве, начались хлопоты о моем переводе. Первоначально был отказ, но на последнем приеме у директора института, когда Софа показала полученные от меня зачетки почти со всеми отличными отметками и очень хорошую характеристику, который дал мне Ташкентский юридический институт, было дано разрешение на мой перевод. Радости моей не было границ. Я понемногу начала собираться к отъезду. Но тогда уехать в Москву было очень сложно. Во-первых, надо было получить разрешение на въезд в Москву, затем какую-то справку о наличии места проживания в Москве.</p>
<p>Наконец все было получено, и я, сев в товарный вагон, &laquo;теплушку&raquo; (так назывался) поехала. Таких пассажиров, как я, было много. А не поехала в пассажирском поезде, потому что это было для меня очень дорого. Кроме того, поезда ехали нерегулярно.</p>
<p>По просьбе моего будущего мужа (о нем, нашей встрече, женитьбе я напишу дальше) я сообщила в Куйбышев, где жили родители и сестра Ёси по имени Юля. Когда я приехала в Куйбышев и вышла на платформу вокзала, меня встретила Фира Соломоновна, в будущем &ndash; моя свекровь.</p>
<p>Как мы узнали друг друга, я не знаю, ведь мы не были знакомы и никогда не виделись. Но такое чудо произошло. Фира Соломоновна потребовала, чтобы я немедленно покинула теплушку и поехала с ней к ним домой. Такое категорическое требование мне очень понравилось, и я оказалась в доме прекрасной, доброй, отзывчивой, самоотверженной женщины &ndash; мамы Ёси, на которую он был очень похож и внешне, и внутренне.</p>
<p>В квартире проживали Фира Соломоновна с дочкой Юлей (в действительности у нее было прекрасное имя Юдифь, но она его отвергала). Папа находился в больнице. Это учреждение, где он провел большую часть своей жизни.</p>
<p>И Фира Соломоновна, и Юля отнеслись ко мне очень сердечно, по-доброму. В общем, мне показалось, что я попала в рай. Нормальная квартира, нормальное питание, а главное &ndash; доброе чуткое отношение. Но время шло быстро, и близился мой отъезд. Оказалось, что для получения билета на поезд, необходимо пройти санаторную обработку, что было очень неприятной процедурой. И тут проявилась доброта и чуткость Фиры Соломоновны. Она сказала, что сама вместо меня пройдет эту процедуру. Такое было возможно, так как документы, удостоверяющие личность, не проверялись. Билет на поезд купила Фира Соломоновна, и я поехала в Москву. До отъезда в больнице я посетила отца Ёси &ndash; Исаака Юдовича. В Москве меня встретили Софочка с Гришей. Все были рады моему благополучному приезду.</p>
<p>Поселилась я у тетки Гриши, тети Лизы. Они с дочкой Верочкой жили в 2-комнатной квартире, причем каждая комната была крошечной. Квартира находилась на улице Бакунинской дом 11, поблизости от метро Бауманская. Этому приюту я была очень рада. Тетя Лиза оказалась прекрасной женщиной и относилась ко мне по-родственному. Верочка училась в школе, ей было лет 12. В общем, все складывалось удачно.</p>
<p>В институте я встретила своих бывших сокурсниц по Ташкентскому юридическому институту Аду Сарн и Миру Вишневер. Они тоже были эвакуированными, но из Ташкента уехали значительно раньше меня. Благодаря им в институте я достаточно быстро освоилась. Училась неплохо, но пятерками, которые я получала в Ташкентском институте, в Московском юридическом институте учителя меня баловали нечасто.</p>
<p>Учиться было интересно. Однажды в институте встретила бывшего декана Ташкентского юр. института, профессора Клеймана. Он меня узнал, сказав, что рад моему переводу и пожелал успехов и не бояться московских преподавателей.</p>
<p><span data-tag="любовь">В Москве Софа мне рассказала, что вернулся с фронта Абраша Штейнберг и они иногда встречаются. Во время одной из встреч Софа сказала Абраше, что я из Ташкента переехала в Москву. Он через Софочку назначил число и время нашей встречи в метро на Площади Революции под часами.&nbsp; В назначенное время я пришла, но Абраши не оказалось. Почувствовав себя обиженной, я обратила внимание на высокого молодого человека c <span>прекрасным букетом цветов. Я засмотрелась на него, а он с возгласом &ndash; Лина, бросился ко мне. Это был Иосиф. Оказалось, что он приехал из Фрайбурга (Германия), где он встретил окончание войны, пройдя с 1941 года много дорог фронта.</span></p>
<p>В Москве он остановился у родной сестры своей мамы тети Ани и брата Абраши. Абраша рассказал Ёсе о назначенном мне свидании, и решено было, что на это свидание пойдет Ёся, а не Абраша. Радость нашей встречи была необычайной.&nbsp; Наконец после долгой бурной переписки мы встретились. Мы начали встречаться ежедневно.&nbsp; Наши чувства становились все сильнее, и имевший место ранее роман в письмах перешел в роман наяву.</p>
<p>Ходили вместе в театры, кино. Ёся выражал сожаление, что я больше не занимаюсь музыкой, разделяя тем самым мое чувство тоски о несбывшейся мечте стать пианисткой.</p>
<p>В течение определенного времени перед отъездом в город Куйбышев, где Ёся должен был встретиться с родственниками, ждавшими его с нетерпением, он сделал мне предложение стать его женой, клянясь в любви и преданности.&nbsp; Предложение, в общем-то, не было большой неожиданностью, и все же оно застало меня врасплох. С другой стороны, я испытала чувство искренней радости, так как тоже полюбила Ёсю. Ему же я ответила, что расскажу об этом маме и Софе. Он посмотрел на меня понимающе, ведь он был старше меня на 7 лет (ему 28, мне 21) и сказал, что будет ждать.</p>
<p>Я действительно, придя домой, рассказала Софе и маме о полученном предложении. Софочка обрадовалась, заявив, что Ёся хороший, верный, преданный человек. мама же прореагировала более резонно, сказав, что если я люблю его, то можно согласиться на брак с ним, если не люблю, то ни в коем случае не соглашаться, так как брак с нелюбимым человеком это мучения на всю жизнь.</p>
<p>Я стала размышлять и поняла, что без Ёси не представляю своей жизни и я конечно же его люблю. Я не заставила его долго ждать и на следующий день при встрече сказала, что я согласна стать его женой. Он искренно очень обрадовался и рассказал. Оказывается, из военной части его первым отправили в отпуск, причем отпустили потому, что он сказал, что едет жениться. Командир в шутку заявил, что если не женится, то его накажут. Он сказал, что о своем решении жениться на мне и моем согласии он расскажет родителям. Они обрадуются, так как в своих письмах ему они сообщили, что я им очень понравилась во время пребывания в Куйбышеве.</span></p>
<p><span data-tag="семья: брак">Через некоторое время Ося уехал и я затосковала, почувствовав одиночество. Но он недолго отсутствовал. Приезд его был для меня большой радостью. Мы начали обсуждать дату регистрации нашего брака. Назначили 25 сентября. И вот 25 сентября 1945 года во второй половине дня Ося, я и моя мама пошли регистрировать наш брак в ЗАГС Бауманского района.</p>
<p>У мамы в руках был красивый букет цветов. Мама выглядела молодой и красивой, по-моему ее можно было принять за невесту. Ей был всего 51 год, по моим нынешним меркам, она была совсем молодой. Комната, где регистрировался наш брак, выглядела мрачной, неуютной. В ней стоял стол, 2 стула для регистрирующихся и скамья для других посетителей. Так сказать, никаких излишеств. За столом сидела достаточно угрюмая немолодая женщина. На наш приход она прореагировала вопросом, пришли ли мы регистрироваться? Хотя, какова могла быть другая цель нашего прихода, непонятно. На вопрос мы ответили утвердительно, тогда она предложила нам сесть и стала заполнять анкетные данные.</p>
<p>Затем она спросила меня, перейду ли я на фамилию мужа, я ответила отрицательно и с молодым задором спросила, почему она не обратилась с тем же вопросом к моему мужу, ведь закон разрешает мужу принять фамилию жены. Она посмотрела на меня с удивлением и в брачном свидетельстве указала наши добрачные фамилии.</p>
<p>Итак, с бумажкой серого цвета, на котором было написано <em>Брачное свидетельство</em>, мы вышли из ЗАГСа. Несмотря на невзрачность и обыденность обстановки, отсутствие всякой торжественности, мы вышли из ЗАГСа счастливыми и радостными.</p>
<p>После регистрации брака Ёся подарил мне обручальное кольцо, имевшее свою историю. Оказалось, что подаренное кольцо было найдено в другом виде на Одесском пляже отцом Ёси. Это был перстень с камнем. Когда Исаак Юдович пришел домой и показал перстень Фире Соломоновне, они решили переделать его с помощью ювелира в обручальное кольцо и выгравировать на нем имя Иосиф и дату его рождения. Это кольцо предназначалось той, которая станет женой Ёси. И вот оно досталось мне. Оно до сих пор мне дороже всех имеющихся у меня украшений. Правда, носить теперь его не могу, так как оно не налезает на мои пальцы. Увеличить ювелиры отказываются, говоря, что кольцо может сломаться.</p>
<p>В общем, когда меня не будет, я отойду в мир иной, пусть это кольцо достанется самому достойному из вас, кто уважает семейные традиции и кто любил папу, деда по-настоящему. Свадьбы, конечно, никакой не было. Вечером после регистрации пришли поздравить нас самые близкие. Моя дорогая сестричка постаралась и принесла много приготовленных ею вкусных яств.</span></p>
<p>Вспоминая о Софочке, хочу добавить к ранее написанному о прекрасных кулинарных способностях, а также об удивительном гостеприимстве. Один из моих сыновей, не помню кто именно, говорил: &laquo;Если хочешь вкусно поесть, нужно пойти к тете Софе&raquo;. Она не просто вкусно готовила, пекла, она это делала с удовольствием, с любовью, и, наверное, это тоже прибавляло вкус к приготовленному.</p>
<p>После регистрации брака мы жили у тети Лизы. Спали на невероятно узком диванчике, на котором я одна помещалась с трудом. Но нам все нравилось, все было хорошо. Когда по-настоящему любишь, даже плохое кажется хорошим, особенно в первое время после состоявшегося брака.</p>
<p>Однако, приближалось окончание отпуска Оси. Я с ужасом думала о предстоящем расставании. Ося успокаивал нас обоих тем, что вызовет меня во Фрайбург, то есть к месту своей службы, где мы будем жить вместе.</p>
<p>Время шло быстро, наверно, слишком быстро для нас. Наступил день отъезда Ёси. Это был очень горький день для меня. Как мне кажется, провожала его я одна, но, возможно, я ошибаюсь. Наверно, просто никого не видела вокруг себя, кроме Ёси. Но точно помню, что с вокзала я шла одна и очень горько плакала.</p>
<p>Без Ёси я грустила, и единственным утешением были его ежедневные нежные письма. Я ждала и втайне надеялась на его вызов меня во Фрайбург. Но все это оказалось напрасным. Неожиданно я получила от Оси телеграмму &laquo;Привет с родной земли&raquo;. Родная земля оказалась не совсем родной. Его военную часть направили в Кировакан. Я об этом городе никогда ничего не слыхала. Спрашивала у знакомых, но и они ничего не знали. Тогда меня осенило, и я обратилась к своей сокурснице Муре Мкртумян (фамилия тогда выговаривалась с трудом). Она сказала, что это город в Армении. Но я об Армении тоже не слышала. Ося написал, что Кировакан маленький неплохой город, где все говорят по-армянски, так что общаться с местными жителями почти невозможно.</p>
<p>И вот я приняла решение в зимние каникулы навестить Осю. В декабре меня провожали Софочка и Гриша. Ехала я плацкартным вагоном. Втолкнуться в него было невозможно, народу масса с чемоданами, мешками. Все меня толкают из стороны в сторону. С помощью Гриши я все же влезла в вагон. Ося был предупрежден о моем приезде телеграммой.</p>
<p>Ехали мы 5 суток до Тбилиси. Весь ужас был в том, что в нашем купе было выбито стекло, и дуло из этого окна с невероятной силой. Какой-то не то грузин, не то армянин сжалился надо мной и дал свой полушубок. Я как-то прикрывалась, но холод был очень сильный. Наконец поезд остановился в Тбилиси. Я вышла на перрон, но меня никто не встретил. Я и удивилась, и заволновалась. Но делать было нечего, и я решила ехать в Кировакан. Приехали в Кировакан рано утром. Я тут же пошла в милицию. Ведь где располагается военная часть, я не знала &ndash; это было тайной. Я зашла к начальнику милиции, все рассказала и назвала номер военной части. Сначала он сказал, что я напрасно приехала, так как часть уже уехала из Кировакана. Я пришла в неимоверный ужас. Тогда он сжалился и сказал, что пошутил. Я не знала, чему верить, ведь за такие шутки наказывать надо. Он меня успокоил, насколько это было возможно, дал в провожатые солдата и велел отвезти в военную часть.</p>
<p>Оказавшись в военной части, я попросилась к командиру части. Он меня принял, выслушал, сказал, что к такому мужу, который не встретил жену, и ехать не надо было. Потом добавил, что временно устроят меня в части и будут разыскивать Козлинера.</p>
<p>Когда я вышла от командира, ко мне подошли товарищи Оси Миша Шумов и Юра Богомолов. Они были очень удивлены отсутствием Оси, заверяя, что он выехал встречать меня в Тбилиси.</p>
<p>Затем мы втроем три дня встречали поезда, но Оси не было. Только на четвертый день Ося приехал. Причину того, что он не встретил меня, объяснил тем, что мой поезд опаздывал. Тогда он (не изменяя своей любви к чтению) зашел в библиотеку, чтобы почитать. Он надеялся, что в библиотеке услышит объявление о прибытии поезда из Москвы. В виду того, что такое не случилось, он вышел на перрон, где ему сказали, что Московский поезд давно отошел. Правда, еще рассказали, что последний пассажирский вагон этого поезда был отцеплен из-за какой-то аварии. Ося почему-то решил, что я была в этом последнем вагоне и ждал следующих поездов из Москвы. Поэтому он приехал в Кировакан на третий день.</p>
<p>Ввиду того, что все хорошо, когда хорошо кончается, мы все равно были безмерно рады нашей&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; встрече. Ося всем рассказывал, какая я &laquo;героиня&raquo;, что приехала к нему, все меня показывал, в общем, был в восторге. Но вскоре я должна была уезжать, поскольку каникулы кончались. Ехать в Москву надо было через Тбилиси.</p>
<p>Чтобы перед отъездом нас побаловать, кто-то из друзей Оси [налепил] полную кастрюлю пельменей. Оставалось только их сварить. Естественно, эта работа выпала на мою долю. Но ввиду того, что к варке вообще, а тем более пельменей я никакого отношения не имела, я не знала, как это сделать. Я не знала, надо ли их высыпать в кипяток или в холодную воду. Вокруг женщин не было, спрашивать у мужчин было стыдно. В общем, я приняла не лучшее решение: влила в кастрюлю холодную воду, положила туда пельмени и стала ждать, чтобы закипели. Естественно, все пельмени превратились в один большой ком. Я пришла в ужас, мне было стыдно. Пришел конец мечте о лакомстве. Но главное &ndash; как появиться и рассказать о случившемся. Я вызвала Осю, показала, что я натворила. Я почувствовала, что и ему стало не по себе. Но он меня не стал упрекать, а вышел к друзьям и сказал, что пельменей не будет. Я не знала, куда мне деться от стыда. Но друзья есть друзья, и все стали меня успокаивать, решив заменить пельмени танцами. Так я прощалась с новыми друзьями, с Кироваканом, который встретил меня, когда я приехала, двумя кавказскими овчарками и полным безлюдьем. Зато провожали нас в Тбилиси много друзей с самыми лучшими напутствиями. Но этим напутствиям не суждено было сбыться.</p>
<p>Приехав в Тбилиси, мы наняли комнату, где должны были жить до отъезда. На следующий день Ёся пошел покупать мне билет на Москву, взяв мой паспорт и все необходимые документы для въезда в первопрестольную.</p>
<p>Прошло немного времени, Ося возвратился со страшным выражением лица. Он сказал, что потерял мои документы. Меня тоже охватил ужас. Мы не знали, что делать. Никаких знакомых в Тбилиси у нас не было. Без документов, паспорта о выдаче билета на Москву не могло быть и речи. В общем, решили пойти к начальнику вокзала и рассказать все, как есть, в надежде, что нам поверят и пойдут навстречу. Начальник отказался нас принять и послал к какому-то третьему лицу. Тот нас выслушал и сказал, что ничем помочь не может. Начались хождения по мукам, то есть по начальникам высшего и низшего ранга. После трех дней мытарств, моих слез, невероятных просьб, начальник вокзала все же взял на себя смелость и дал приказание выдать мне билет.</p>
<p>Но это было полдела. Ведь не было разрешения на въезд в Москву и паспорта. А и в дороге, и по приезде наличие этих документов проверялось.</p>
<p>В последнем составе Ося нашел офицерский вагон (тогда такой был), буквально втолкнул меня в него и начал упрашивать офицеров приютить меня и прятать при проверках, рассказав о происшедшем. Все в один голос пообещали не обижать меня и сделать так, как Ося просил. Мы простились, договорившись, что Ося пошлет телеграмму Софочке, чтобы она обязательно меня встречала вместе с Гришей, сделав какой-то намек на случившееся.</p>
<p>Поезд отошел, а я не переставала думать о том, что меня ждет, боялась, чтобы меня не высадили с поезда, что не впустят в Москву и так далее. Офицеры оказались верными людьми. Когда начиналась проверка документов, а это было довольно часто, меня поднимали на третью полку, где был багаж, и я пряталась за багажом. Все делалось весело, с юмором, и это облегчало мое состояние.</p>
<p>Наконец, поезд остановился в Москве. Договорились, что выходя, они создадут сутолоку, чтобы я выпрыгнула незаметно, никто не успел спросить мои документы. Так и сделали, и из поезда я оказалась в объятиях Софочки. Мы побежали по платформе. Я успела сказать, что у меня нет никаких документов. Гриша шел за нами. Узнав о случившемся, он решил идти впереди нас, понадеявшись, что к нам не будут приставать с проверкой, увидев его документы инвалида Отечественной войны, его хромую ногу. Надо сказать, что в то время люди были добрее, и все произошло так, как надеялся Гриша. Мы вышли из вокзала. Я оказалась в Москве, не веря своим глазам. Ведь меня никто не проверил, никто не обнаружил, что у меня нет документов на въезд, нет паспорта. В общем, произошло чудо, и моему счастью не было границ. Наверное, читающим эти строки трудно понять мое состояние, ведь это все так не похоже на сегодняшний день. Но это было именно так, без преувеличений.</p>
<p>По приезде все вошло в обычную колею. Я пошла на занятия в институт и помню, как прятала руку с пальцем, на котором было обручальное кольцо. Тогда никто не носил никаких колец, украшений, и я стеснялась, что у меня на руке золотое кольцо. Вот было такое время!</p>
<p><span data-tag="образование: распределение">Но шло время, приближались государственные экзамены и распределение на работу по окончании института. Так что безработица или работа не по специальности не грозила, как это бывает сейчас. И вот я предстала перед распределительной комиссией. Когда очередь дошла до меня, я получила предложение ехать в прокуратуру г. Свердловска. Я возразила, объяснив, что у меня муж офицер и служит в Армении, поэтому прошу меня направить на работу по месту службы мужа. Мне ответили, что это невозможно, так как все судопроизводство и делопроизводство в Армении ведется на армянском языке, и Армения поэтому не подает никаких заявок в Москву о направлении студентов.</p>
<p>Меня этот ответ не удовлетворил, хотя он был правильным и обоснованным. И я начала &laquo;речь&raquo; в защиту своих прав. Говорила я много. Тогда председатель комиссии, прервав меня, со злостью в голосе сказал: Пусть едет в Армянскую адвокатуру, типичный адвокат. Так оказалась я в Армении, так определилась моя адвокатская судьба.</span></p>
<p>В связи с предстоящим моим приездом Ёсю перевели в <span data-location="Ереван">Ереван</span>, вернее в Советашен -пригород Еревана примерно на расстоянии 15 км (справка для иноземцев). Он был начальником клуба. В Советашен тогда городской транспорт не ходил, бездорожье было полное: ямы, ухабы. Одна яма, через которую был перекинут большой камень, военные назвали &laquo;мостиком Чилингаряна&raquo; - по фамилии начальника продовольственной службы полка. Добираться в Советашен возможно было либо на попутных машинах, либо пешком.</p>
<p>Ёся меня встретил на автомашине воинской части и привез в часть. После столицы, к жизни в которой я уже привыкла, зрелище было удручающее. Поселили нас в маленькой комнатке рядом со сценой. Всюду было грязно, неуютно. Но деваться было некуда. Предстояло явиться в Министерство юстиции с направлением на работу в Ереван от Московского юридического института.</p>
<p>Министр принял нас любезно, но повторил сказанное председателем распределительной комиссии о том, что в прокуратуре и в судах все ведется только на армянском языке, и поэтому трудоустроить меня очень трудно. В конечном счете решили, что он направит меня в коллегию адвокатов. Интересно, что когда мы зашли в приемную министра, находившиеся там девушки повторили несколько раз &laquo;шат лавна&raquo;. Мы не знали, что это значит, но Ёся стал называть меня &laquo;Шатлавочка&raquo;.</p>
<p>В коллегии адвокатов меня направили на стажировку в юрконсультацию Спандарянского района, назначив руководителем адвоката Калантаряна, который хорошо знал русский язык. О трудностях, с которыми я столкнулась, проходя так называемую стажировку, я писать не буду. Только отмечу, что фактически никакой стажировки не было, и вообще никому никакого дела до меня не было. Только два адвоката этой консультации старались меня как-то опекать. Это были Егоров и Ананьев (Ананян).</p>
<p>Но никто меня ничему не учил &ndash; институт не давал практических знаний. Мои походы с Калантаряном в суды были бессмысленными, так как я ничего не понимала. Решила учиться адвокатской деятельности по книгам, которые брала в библиотеке Минюста. Однако, самым сложным было добираться из Советашена до юрконсультации и обратно. Единственным транспортом были попутные машины, и военные, и гражданские, как правило &ndash; грузовые.</p>
<p>Порой приходилось долго ждать машину, в которой для меня было бы место, так как желающих ехать было много. Останавливались машины, приезжающие из Советашена и отъезжающие туда около Комсомольского парка (это конец старого города). Очень редко подъезжала какая-нибудь легковая машина и предлагала подвезти. Я с удовольствием соглашалась, не понимая, к чему такое предложение могло привести, и никто меня об этом не предупреждал. Но все обходилось благополучно, никто ко мне не приставал, не обижал. Просто оказывался какой-то благородный добрый человек. К счастью, такие тоже бывают.</p>
<p>Несмотря на все транспортные трудности, бессмысленность моего пребывания в юрконсультации, я все же исправно ежедневно была на работе. Время шло, и время моей шестимесячной стажировки подошел к концу. Я получила звание адвоката, то есть имела право самостоятельно вести дела, и уголовные, и гражданские. Но весь ужас в том, что дел для меня не было. Но изредка меня судьбы все же баловала. Когда в консультацию обращался кто-нибудь из русских, их сразу же направляли ко мне. Помню одну приезжую русскую женщину, которую обвиняли в спекуляции (сейчас это называется бизнес). Она продавала по более дорогой цене привезенные промтовары. Неожиданно для меня самой мне удалось ее отстоять, и она получила меру наказания условно. Это означало, что она имела право уехать из Еревана, и если не совершит новое преступление, то &laquo;за решетку&raquo; ее не посадят. Естественно, она была мне очень благодарна, правда, безвозмездно. Называла спасительницей и другими хорошими словами. Ни о каком гонораре я и не мечтала. Для меня был важен сам факт. В таких случаях я начинала верить в себя, что было очень важно в том положении, в котором я находилась.</p>
<p>В июне 1947 года оказалось, что я беременна. Ося настаивал, чтобы я уехала в Одессу к его родителям и там рожала. Он считал, что надо прекратить мои мытарства, связанные с так называемой работой. Ввиду того, что в то время предродовой отпуск составлял 45 дней, пожелав уехать значительно раньше этого времени, я должна была уволиться, что я и сделала.</p>
<p>Мой отъезд в Одессу был согласован с моими москвичами. Они даже обрадовались, так как у них меня поместить негде было. Родители Оси обрадовались нашему решению и написали, что будут ждать меня с нетерпением. Итак окончилась моя бесславная адвокатская деятельность, и я распростилась с Советашеном, надеясь больше никогда туда не возвращаться.</p>
<p>Мой отъезд в Одессу для нас обоих был грустным, но мы понимали, что это необходимо. Ося меня провожал со всякими наилучшими напутствиями. В Одессе встретила меня мама Фира и повезла на улицу Л. Толстого 12, где они жили в коммунальной квартире, занимая 2 комнаты. В этих 2-х комнатах жили отец и мать Оси, сестра Юля по окончании медицинского института по распределению была направлена на Север в г. Шатки, где была большая колония заключенных. Родители очень переживали за Юлю, и для этого были основания.</p>
<p>Мой приезд внес какое-то разнообразие в жизнь родителей. Они меня очень опекали, старались, чтобы мне было приятно и уютно. Я посещала родственников со стороны папы, особенно тетю Розу, которая отличалась радушием и гостеприимством, была прекрасной хозяйкой и старалась делать что-то хорошее тем, кто ее окружал. Но к величайшему сожалению, конец жизни для нее оказался очень тяжелым. У нее случился инсульт. Она пролежала почти без движений около 5 лет. Ухаживала за ней дочь Сарра. Это был тяжелый труд и морально и физически. Но Сарра терпела и потому, что другого выхода не было и благодаря своему исключительно терпеливому характеру. Вот таковы бывают превратности судьбы, которым волей-неволей приходится покоряться.</p>
<p>Наконец пришел радостный день &ndash; 25 марта 1948 года, у меня родился мальчик, которого я нарекла с согласия Оси Левой. Я хотела, чтобы в моем доме звучало имя моего любимого отца.</p>
<p>Во время нахождения в роддоме, моя свекровь меня ежедневно посещала, принося горячий бульон, курицу, печености и т.д. Хотя роддом находился довольно далеко от их дома, она не считала трудным для себя бывать у меня так часто. Естественно, я за это была ей очень благодарна.</p>
<p>Забирали меня из дома мамаша (так полагалось в Одессе называть свекровь) и мой дядя с женой &ndash; Миша и Миля. Кроватки для Левочки в доме не было. Бабушка Фира вместо кроватки подготовила большую оцинкованную лохань, куда положила хорошие постельные принадлежности. Встретил нас дома радостный дедушка Исаак. Через несколько дней дядя Миша принес для Левочки коляску, за что я была ему бесконечно благодарна. Таким образом Левочка обрел более цивилизованное место пребывания.</p>
<p>И вот приехал Ёся. Он увидел своего сына, когда ему уже было 4 месяца. Предстоял отъезд в мой &laquo;любимый&raquo; в худшем смысле Советашен. Бабушка и дедушка были очень опечалены нашим отъездом, особенно расставанием с внуком, к которому привыкли, полюбив его. Перед отъездом Левочка очень хорошо выглядел: был умеренно полненьким, розовощеким крупным мальчиком. В дороге, а это было на теплоходе, все им любовались и не верили, что ему всего 4 месяца, думали значительно больше. С теплохода пересели на поезд и приехали в Ереван. Из Еревана с трудом доехали до Советашена. Здесь-то и начались мучения. У Левочки начался понос, возможно, из-за перемены климата. В Советашене было очень жарко, был июль месяц. Сначала я думала, что все обойдется, но понос усиливался.</p>
<p>По приезде в воинскую часть нас вновь поселили в комнатку около сцены клуба. Обстановка была отвратительная, Левочка постоянно плакал, и я, чтобы как-то его успокоить, бегала с ним на руках по сцене. Я очень боялась за жизнь ребенка. Но неожиданно появилась какая-то жена офицера и порекомендовала обратиться к очень хорошему детскому врачу в Ереване. Мы тут же к ней поехали по адресу, который нам сказали. Врачом оказалась симпатичная пожилая женщина, тоже еврейка. Она внимательно осмотрела Левочку, обо всем расспросила, успокаивала, говоря, что дизентерии нет. Она назначила очень простое лекарство &ndash; касторовое масло, чтобы очистить желудок, и рвотный отвар. И эти простые средства спасли мальчика. Понос прекратился, он стал кушать, в общем &ndash; все обошлось.</p>
<p>Жизнь в Советашене была очень неприятной. Но вот приехала моя мама. Она решила жить у нас, так как у Софочки было очень тесно, не считая других проблем. Приезд мамы был кстати. Я почувствовала поддержку и уверенность. Но болезни не кончались. Неожиданно заболел малярией Ося, а за ним и Левочка. У обоих была очень высокая температура. Единственное лекарство было хинин (горький-прегорький). Как мне удавалось, чтобы Левочка его глотал, я не помню. К счастью, заболевание вскоре прошло и больше не повторялось. Однако пережитое осталось в памяти на всю жизнь.</p>
<p>В середине 1949 года, точнее &ndash; летом, неожиданно Осе предложили ехать в <span data-location="Ленинград">Ленинград</span> в высший военно-педагогический институт на повышение квалификации. Моей радости не было границ. Я не ожидала таким образом избавиться от Советашена и всего, что с ним было связано. Ося дал согласие. В Ленинграде жил двоюродный брат Оси Рувим Моисеевич Штейнберг (родной брат Абраши), так что заехать было куда.</p>
<p>Доехали благополучно до Москвы. Мама осталась&nbsp; там, а мы двинулись дальше.</p>
<p>Семья Рувы состояла из 4-х человек: жена Беллочка &ndash; врач, дочь Ада и сын Веня. Все они нас встретили очень радушно. Беллочка купала Левочку, считая, что я это делаю неправильно. У Рувы мы жили недолго, он для нас нанял комнату над их квартирой. Ося ходил исправно на занятия. Казалось бы, все хорошо, но Левочка начал хиреть. Он похудел, плохо ел, побледнел. Я испугалась и пошла с ним к детскому врачу, которого порекомендовала Беллочка.&nbsp; Врач тут же сказал, что ребенка надо немедленно увозить из Ленинграда, так как климат этого города ему не подходит, и если его оставить в нем, то может произойти самое худшее. Я пришла домой, рассказала все Осе, мы не знали, что делать. Написали обо всем в Одессу. Родители Оси тут же откликнулись и потребовали, чтобы я привезла Левочку в Одессу, где они за ним будут ухаживать, а я смогу уехать снова в Ленинград к Осе. Так и порешили. Я отвезла ребенка в Одессу. Побыв немного там и увидев условия, созданные Левочке, я успокоилась. Мы с ним ежедневно гуляли, он стал нормально есть, в общем &ndash; ожил.</p>
<p>Но однажды произошел неприятный случай. Левочка вывалился из коляски. Мы страшно перепугались. У мамаши на этой почве даже начался понос. Но все обошлось благополучно, никаких травм ребенок не получил. Я же сделала в коляске приспособление, чтобы он больше не мог выпасть.</p>
<p>В общем, я уехала в Ленинград, а родители почти ежедневно писали нам о состоянии нашего малыша, и мы успокоились. Однажды мы шли с Осей по Невскому проспекту и встретили мою бывшую сокурсницу Люду Никитину-Серапигскую, о которой я уже немного писала выше. Встреча была очень радостной. Она рассказала, что у нее интересная компания и она хочет нас ввести в нее. Вскоре мы все перезнакомились, понравились друг-другу и стали часто встречаться.&nbsp; Вместе ходили в театры, на концерты, в общем, жили яркой, полнокровной жизнью.</p>
<p>Этот период жизни для нас с Осей был, пожалуй, наиболее ярким. Я всей душой полюбила Ленинград: его дома, проспекты, достопримечательности. К этому времени мы переселились в другую квартиру недалеко от Рувы на Поварском переулке, рядом с Владимирской площадью. Хозяева этой квартиры уехали за границу. Одну комнату квартиры они сдали нам в наем, а вторую закрыли, сложив в ней свои вещи. Квартира была со всеми удобствами, в самом центре города, так что мы были довольны.</p>
<p>Возвращаясь к описанию компании Люды, не могу не вспомнить прекрасного пианиста Яшу Цапаха (мы в шутку называли его Яша Запах). Под его музыку мы вовсю плясали, используя его безотказность.</p>
<p>Я старалась найти работу. В адвокатуру меня, конечно, не приняли, заявив, что нет места. Пыталась найти учреждение, где нужен юрисконсульт, но и этого не было. Неожиданно одна из приятельниц сказала, что в конторе Главэлектроснабсбыт есть юрисконсульт Антонов Леонид Антонович, которому нужен помощник. Я понеслась к нему очертя голову. Леонид Антонович встретил меня благодушно, подтвердив, что помощник ему нужен, так как работы много, но при этом предупредил, что работа бесплатная. Я сказала, что на все согласна, и так я начала свою трудовую деятельность.</p>
<p>Надо отметить, что эта работа была для меня очень полезной. Леонид Антонович оказался очень профессиональным, знающим свое дело юрисконсультом, и я у него многому научилась.</p>
<p>Он же, благодаря моему присутствию, постоянно отлучался, идя в другие учреждения, которые обслуживал. Уходя, он оставлял свою шапку и просил в случае его вызова начальством сказать, что он только вышел, и по возможности, самой решать возникший вопрос. К концу пребывания в Ленинграде я поступила на работу юрисконсультом в артель &laquo;Лесопильщик&raquo;, но Леонида Антоновича я не покидала.</p>
<p>Но время шло очень быстро. При мысли, что скоро придется покинуть Ленинград, мне становилось по-настоящему грустно. Однако изменить ничего невозможно было. Учеба у Оси закончилась, и по злой иронии судьбы Осю вновь направили в Советашен, хотя многих других офицеров, в отличие от Оси, направляли служить в другие места.</p>
<p>Наступил грустный день расставания с друзьями, родственниками и прекрасным городом Ленинградом, который я полюбила всем сердцем.</p>
<p>Приехали в Одессу. Левочка забыл, что я его мама и называл меня Линой. В Одессе мы оставались недолго. Ближайшей перспективой для нас был вновь Советашен. Перед отъездом из Одессы я категорически заявила, что в Советашене я жить больше не буду. Ося меня успокаивал и предложил нанять комнату в Ереване, где я буду жить с Левочкой, а он будет к нам приезжать из Советашена. На том и порешили. Приехали в Ереван и тут же начали поиски жилья. Нашли довольно скоро комнату на 2-м этаже дома, принадлежащего дедушке Петросу &ndash; так величали хозяина.</p>
<p>Комната была размером примерно 16-18 кв.м. Обстановка состояла из двух кроватей, шкафа и стола со стульями. Находился дом на улице Мурацана &ndash; это была окраина Еревана, так называемый, старый город. Я была рада и такому жилью, хотя все коммунальные службы были во дворе. Но это спасало от поездок в Советашен, а это было главным. В общем, началась новая пора жизни в Армении.</p>
<p>Вскоре произошло радостное событие &ndash; к нам приехала мама на постоянное жительство. Это было очень кстати, так как давало мне возможность вернуться на работу. Вскоре мы с Осей снова пришли к министру юстиции, и он распорядился председателю президиума коллегии адвокатов принять меня адвокатом в состав коллегии.</p>
<p><span data-tag="профессии: адвокатура">В это время в Ереване начал работать военный трибунал в.ч. 19295, в котором все делопроизводство и судопроизводство велось на русском языке. Таким образом у меня появилась работа, так как все требования военного трибунала, направить адвоката для участия в процессе переадресовывалось ко мне, так как адвокатов, хорошо знавших русский в коллегии адвокатов почти не было.</p>
<p>Работа была бесплатной по той причине, что защищать, как правило, приходилось солдат, у которых не было денег на оплату услуг адвоката. Но меня и это устраивало &ndash; ведь я получала практику работы адвоката, что было очень важно. В В.т. были опытные судьи: Манукян, Мусаханян и др. опытные военные прокуроры. В общем, было у кого учиться, тем более что отношение ко мне было очень хорошим. Кроме работы в В.т. у меня появились учреждения, где я осуществляла юрисконсультскую работу. Одним из таких учреждений был &laquo;Ергорснаб&raquo;.</span> Туда часто приходил зам. председателя Горисполкома. Меня с ним познакомили. Он оказался очень симпатичным человеком, забывая в общении свой достаточно высокий чин. Он спросил, где я живу, и я ему поведала о нашем жалком существовании. Немного подумав, он сказал, что постарается помочь. Прошло немного времени, и он предложил, чтобы мы переехали в гостиницу &laquo;Севан&raquo;, где был жилой корпус с живущими там постоянными жителями, не имеющими квартир.</p>
<p>Конечно же, мы с радостью приняли такое предложение. Нам дали комнату на 3-м этаже, дверь из которой выходила в очень длинный коридор, где находились умывальник и туалет. В общем, нас все устраивало, тем более что гостиница &laquo;Севан&raquo; находилась в центре города. Левочка по этому коридору с радостью разъезжал на своем трехколесном велосипеде, который я ему купила на базе Ерторгбакалея, которую я также обслуживала (второе учреждение помимо адвокатуры), так как в магазинах таких детских велосипедов не было.</p>
<p>Ёся при клубе организовал самодеятельный театр, где играли жены офицеров, солдаты, офицеры. Ося в этом театре был и режиссером, и актером. Постановки, которые он ставил, были удачными, и их с удовольствием посещали. Зал был всегда полон. Осе эта работа приносила хоть какое-то моральное удовлетворение, а военнослужащие и их жены были ему очень благодарны за возможность поразвлечься. Особенно нравилось, когда он в косыночке и женском наряде выходил на сцену и что-то вещал.</p>
<p>Несмотря на занятость, Ося часто приезжал, а иногда и приходил из Советашена пешком в Ереван. Преодолевать пешком почти 15 км по плохой неасфальтированной дороге было очень непросто, особенно в вечерние часы. На мой вопрос, не страшно ли ему ходить одному, он отвечал, что не страшно, так как он читает стихи по дороге. В это время у Оси завелась дружба с главным режиссером русского театра им. Станиславского, который мы посещали. Дружба происходила благодаря тому, что Ося часто приглашал актеров театра для выступлений в клубе части. В общем, не считая определенных трудностей, жили мы неплохо.</p>
<p>По прошествии определенного времени проживания в гостинице, нам предложили переехать в хорошую комнату на том же этаже с балконом, с нишей, где помещалась кровать, с маленьким коридорчиком, где можно было готовить пищу. Апартаменты для нас были шикарные, и нашей радости не было границ. В этой комнате мы прожили около пяти лет. Оказывается, предоставлена она нам была по инициативе все того же зам. председателя Ергорсовета, о чем я его даже не просила. Мы были бесконечно благодарны этому доброму, бескорыстному человеку. К сожалению, сейчас таких людей либо не стало, либо осталось очень мало.</p>
<p>Жизнь шла своим чередом, Левочка хотя и неохотно, но все же ходил в детский сад. Я много работала, мама занималась хозяйством, а Ося служил. Но вот Левочке исполнилось 6 лет. Он был не по годам крупным мальчиком, и мы решили, что надо его отдать в школу. К началу учебного года я с Левочкой пошла к директору школы с просьбой принять его шестилетнего. Тогда принимали в школу с 7 лет. Директор оценивающим взглядом посмотрел на Левочку и сказал: &laquo;Как такого великана не принять&raquo;! Так наш мальчик стал учиться, получать образование с 6 лет. Учеба в первом классе ему давалась легко. Школа имени Мравяна, куда он ходил, находилась близко от гостиницы, благодаря чему со второго класса он ходил в школу и из школы без сопровождающего. Учительница говорила, что, если Лева захочет, он сделает работу так, как никто в классе.</p>
<p>Развлечением для нас были поездки в отпуск, когда Ося по службе его получал. Маршрут был Москва, Одесса, Ереван. В Москве мы бегали по театрам. Театром номер один был МХАТ. Тогда он был совсем другим. Там играли Тарасова, Еланская, Прудкин, Массальский и другие выдающиеся актеры. Достать билеты в этот театр было невозможно, и мы покупали их с рук у перекупщиков. Смотрели мы незабываемую &laquo;Анну Каренину&raquo; с Тарасовой и Массальским, &laquo;Опасный поворот&raquo; и много других прекрасных спектаклей. В общем, это был театральный заряд на целый год. Ходили также на концерты в филармонию, слушали приезжавших знаменитостей.</p>
<p>Наконец, Осю из Советашена перевели на службу в Ереван в Политотдел Армии. Для нас это было необыкновенно радостным событием, а для Оси полным освобождением от &laquo;путешествий&raquo; из Советашена в Ереван. Так мы жили-поживали, но добра не наживали.</p>
<p>В Одессе тоже были хорошие новости. Неожиданно Юлю из Шатков, где она мучительно работала, перевели в Одессу. Это было огромным счастьем и для родителей, и для Юли. В Одессе она тоже работала по своей специальности, хирургом. Юля долго не выходила замуж. И вот на горизонте появился Зиновий. Они поженились, но брак был нелегким. Зиновий был грубым, своенравным человеком. Доставалось от него и Юле, и родителям, но все терпели.</p>
<p>Мы продолжали ездить в отпуск в Одессу. Там у нас было много друзей, в том числе мои сокурсники по Ташкентскому юридическому институту Лиля Хаселева, Леня Рейф и другие. Эти наши поездки были большой радостью и для нас, и для родителей.</p>
<p>Ко времени перевода Оси в Ереван я оставила работу в Ергорснабе. Мне сказали, что на <span data-org="Арменфильм">киностудии Арменфильм</span> нужен юрисконсульт. Я решилась пойти предложить свои услуги, хотя это было не совсем достойно. Но встретил меня очень остроумный, симпатичный директор, сам по профессии кинорежиссер, Кеворков Степан Агабекович. Мы довольно долго разговаривали, он рассказывал какие-то смешные истории, и кончилось все тем, что он сказал: &laquo;Я вас завтра жду на работе&raquo;. Так началась моя работа на киностудии, где я проработала более 20 лет.</p>
<p>Работать на студии мне было очень интересно. В мои обязанности (которые я сама придумала) входило составление и визирование договоров с авторами на написание сценариев. Благодаря этому я познакомилась со многими армянскими писателями. С некоторыми из них даже установились дружеские отношения: с Геворком Эмином, Ашотом Папяном и другими. Отношение и работников киностудии и дирекции ко мне было более чем благосклонным, и поэтому работа на киностудии мне доставляла удовольствие.</p>
<p>Благодаря этой работе я с Осей всегда бывали на закрытых просмотрах трофейных зарубежных фильмов, которые, как правило, были очень интересными. Благодаря работе на киностудии я, то есть наша семья, получили большое благо. <span data-tag="жилье">Дело в том, что сдавался в эксплуатацию дом, построенный для работников киностудии (Теряна 19). По действовавшему тогда закону 10% от общей жилплощади выстроенного дома полагалось отдавать военному ведомству.&nbsp; Начальство киностудии, знавшее, что я долгие годы с семьей живу в комнате, принадлежавшей гостинице, решили отдать с пользой для дела эти 10%. Осе было предложено принести ходатайство военного совета о предоставлении полагающегося фонда Козлинеру И. И. с семьей. Откровенно говоря, я и Ося не надеялись на успех этого мероприятия. Но, к общей радости, все получилось, и нам была предоставлена полуторакомнатная квартира. Правда, с учетом того, что я не была штатным работником киностудии, многим работникам это не понравилось. Но мне советовали не обращать внимания. Особенно активна в этом вопросе была милейшая женщина, главный бухгалтер киностудии, Тамара Моисеевна Амирагьян, умница, прекрасный специалист, с которой, несмотря на большую разницу в возрасте (она была намного старше), мы дружили.</p>
<p>Полуторакомнатная квартира состояла из одной нормальной комнаты примерно 18 кв. метров с балконом, и от нее отходила маленькая комнатка без окон и дверей. Кроме того, в квартире был туалет с душевой и кухня. В общем, &laquo;все, как у людей&raquo;. Нашему счастью не было границ.</span> Но, чтобы обставить эти полторы комнаты, у нас денег не было. Пришлось влезать в долги. Выручил артист театра Ваня Грикуров.</p>
<p>В этой квартирке мама с Левочкой ночевали в &laquo;полукомнате&raquo;, а я с Осей &ndash; в большой. Но после гостиницы нас все устраивало. Было еще одно удобство. Осе до работы нужно было пройти 2-3 квартала. Мы были бесконечно благодарны руководству киностудии, так как без них ни о какой квартире в доме киностудии мы не могли и мечтать. Вот так в наше время делалось добро без всякой корысти &ndash; просто по-человечески. К сожалению, эти времена давно ушли и, боюсь, что никогда не вернутся.</p>
<p>Левочку перевели в школу имени Пушкина &ndash; она была поближе к дому, да и школа была одной из лучших.</p>
<p><span data-tag="профессии: адвокатура">К удивлению, к этому времени появились клиенты, просившие принять поручение на ведение дел в народных судах. Приходилось отказывать из-за незнания языка. По непростительной глупости, об изучении армянского я не думала, за что раскаиваюсь до сих пор. Одной из таких клиенток оказалась сестра Рубика Рштуни. Ее брат кого-то убил. Я попыталась и ей отказать, но она настаивала, заявляя, что у меня будет прекрасный переводчик и я не буду ощущать незнания языка. Таким переводчиком оказался преподаватель русского языка Рубик Рштуни. Я приняла поручение. Рубик действительно оказался очень хорошим переводчиком. Дело окончилось благополучно. После этого мы договорились с Рубиком, что он будет моим переводчиком, когда ко мне будут обращаться для ведения дел в народных судах.</p>
<p>Появились клиенты, которые хотели, чтобы их дела вела я, в случае необходимости, до самой высшей инстанции, то есть до верховного суда СССР и Прокуратуры Союза. Я соглашалась. Тогда и начались мои поездки в Москву в Верховный суд СССР в Генеральную прокуратуру.</p>
<p>Могу заявить без бахвальства, что многие дела именно в этих инстанциях оканчивались удачно, что приносило моральное удовлетворение. У меня появились знакомства с московскими адвокатами, с председателем и заместителем коллегии адвокатов. Это приносило большую профессиональную пользу. Я почувствовала себя настоящим адвокатом. Свою профессию я очень любила и сейчас люблю. Мои подзащитные полностью доверяли мне свою судьбу, и я делала все, что было возможным для облегчения их участи. В результате, я спасла от расстрела 9 человек. Одним из таких был Папандопуло Сергей. Я пишу о нем потому, что при его природных данных было непонятно, как он мог встать на путь преступления. Он прекрасно рисовал, фотографировал, писал стихи, был хорошо воспитан, даже в тюрьме он сохранил хорошие манеры. Свел меня с этим делом случай.</p>
<p>Неожиданно к нам домой пришла симпатичная женщина, которая представилась Попандопуло Любовь Борисовной из Сухуми, мать подсудимого Попандопуло Сергея. Она слезно просила, чтобы я взяла на себя защиту ее сына, которого должен судить военный трибунал округа. На мой вопрос, почему она обратилась ко мне, она сказала, что на улице встретила какого-то внушающего доверие мужчину, которому она рассказала свою историю, и что она ищет хорошего адвоката.</span></p>